#### [시작하기]

<div class="alert alert-info">
    <font color=black>
    Pandas를 사용하기 위해서 처음 할 일을 무엇인가요?
    </font>
</div>

In [2]:
import pandas as pd # 판다스를 pd로 축약하여 불러옵니다

# **[19] 데이터 정렬하기**

[오늘 배울 것]
1. 값에 따라 데이터를 정렬할 수 있다. 
2. 인덱스에 따라 데이터를 정렬할 수 있다. 
3. 무작위로 데이터 순서를 섞을 수 있다.

> 여러 상황에서 데이터 정렬이 사용됩니다.  
> 데이터를 보기 좋게 확인하기 위해 값을 기준으로 오름차순 혹은 내림차순으로 정렬할 수 있습니다.  
> 뒤섞인 데이터를 다시 인덱스에 맞게 정렬할 수도 있습니다.  
> 또한, 인공지능 학습과 같이 데이터가 무작위(random)로 섞여야 할 때도 있습니다.  
> 다음 학생 정보 데이터를 활용해 다양한 정렬 방법에 대해 알아봅시다.

In [3]:
# 예제 1: 학생 정보 데이터프레임 생성하기

# 학생 정보 데이터 프레임
students = pd.DataFrame(data={"이름": ["황철수", "이영희", "김영재", "오민준", "손민지", "정수정", "최이준", "김로즈", "박보검", "조앤디"],
                              "성별": list("MFMMFFMFMF"), 
                              "키": [130, 141, 128, 143, 137, 129, 139, 135, 132, 150], 
                              "담당": ["청소", "준비물", "준비물", "청소", "급식", "급식", "청소", "준비물", "청소", "급식"]})
# 학생 정보 확인하기
students

    이름 성별    키   담당
0  황철수  M  130   청소
1  이영희  F  141  준비물
2  김영재  M  128  준비물
3  오민준  M  143   청소
4  손민지  F  137   급식
5  정수정  F  129   급식
6  최이준  M  139   청소
7  김로즈  F  135  준비물
8  박보검  M  132   청소
9  조앤디  F  150   급식

## **1. 값 기준으로 데이터 정렬**

> `sort_values` 를 이용하면 Pandas 데이터를 값 기준으로 정렬할 수 있습니다.   
> 
> Series의 경우, `Series.sort_values()`는 1열 데이터의 값을 정렬합니다.     
> DataFrame의 경우, `by`와 `axis` 인수를 통해 어느 열 혹은 행 데이터를 기준으로 할지 지정해야 합니다.  
> 
> 가장 자주 사용되는 DataFrame의 열 데이터를 기준으로 정렬하기 방법을 알아보겠습니다.

### **(1) 숫자 데이터 크기 순서로 정렬하기**
 
> 다음과 같이 해당 열의 데이터 크기 순서로 데이터를 정렬할 수 있습니다.  
> 
> `DataFrame.sort_values(by=['column'])`  
> : column의 데이터가 오름차순으로 정렬되도록 행 순서를 바꿈  
> `DataFrame.sort_values(by=['column'], ascending=False)`  
> : column의 데이터가 내림차순으로 정렬되도록 행 순서를 바꿈

> 학생 정보 데이터에는 '키' 열의 숫자 데이터가 있습니다.  
> 키가 큰 순서대로 혹은 작은 순서대로 데이터를 정렬해봅시다.

In [4]:
# 예제 2: 숫자 데이터 크기 기준으로 오름차순/내림차순으로 정렬하기

print("키 열 오름차순 정렬하기:")
print(students.sort_values(by=['키']))

print("\n")
print("키 열 내림차순 정렬하기:")
print(students.sort_values(by=['키'], ascending=False))

키 열 오름차순 정렬하기:
    이름 성별    키   담당
2  김영재  M  128  준비물
5  정수정  F  129   급식
0  황철수  M  130   청소
8  박보검  M  132   청소
7  김로즈  F  135  준비물
4  손민지  F  137   급식
6  최이준  M  139   청소
1  이영희  F  141  준비물
3  오민준  M  143   청소
9  조앤디  F  150   급식


키 열 내림차순 정렬하기:
    이름 성별    키   담당
9  조앤디  F  150   급식
3  오민준  M  143   청소
1  이영희  F  141  준비물
6  최이준  M  139   청소
4  손민지  F  137   급식
7  김로즈  F  135  준비물
8  박보검  M  132   청소
0  황철수  M  130   청소
5  정수정  F  129   급식
2  김영재  M  128  준비물

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="A3yzWBEo5F0" href='#jce-judge/open/A3yzWBEo5F0' target='_self'><span>판다스 - 데이터 정렬 - 숫자 데이터</span></a>

### **(2) 문자 데이터 순서로 정렬하기**

> 문자 데이터 정렬 순서는 알파벳 순서와 같습니다.  
> 
> 우선 첫 글자의 순서대로 정렬되고 첫글자가 같으면 그 다음 글자의 순서로 정렬됩니다.  
> 
> `DataFrame.sort_values(by=['column'])`  
> : column의 데이터가 알파벳 순서로 정렬되도록 행 순서를 바꿈  
> `DataFrame.sort_values(by=['column'], ascending=False)`  
> : column의 데이터가 알파벳 반대 순서로 정렬되도록 행 순서를 바꿈

> 학생 정보 데이터에는 여러 열의 문자 데이터가 있습니다.  
> 성별 열과 담당 열을 기준으로 데이터를 정렬해봅시다.

In [5]:
# 예제 3: 문자 데이터 알파벳 순서대로 정렬하기

print("성별 열 정렬하기:")
print(students.sort_values(by=['성별']))

print("\n")
print("담당 열 정렬하기:")
print(students.sort_values(by=['담당']))

성별 열 정렬하기:
    이름 성별    키   담당
1  이영희  F  141  준비물
4  손민지  F  137   급식
5  정수정  F  129   급식
7  김로즈  F  135  준비물
9  조앤디  F  150   급식
0  황철수  M  130   청소
2  김영재  M  128  준비물
3  오민준  M  143   청소
6  최이준  M  139   청소
8  박보검  M  132   청소


담당 열 정렬하기:
    이름 성별    키   담당
4  손민지  F  137   급식
5  정수정  F  129   급식
9  조앤디  F  150   급식
1  이영희  F  141  준비물
2  김영재  M  128  준비물
7  김로즈  F  135  준비물
0  황철수  M  130   청소
3  오민준  M  143   청소
6  최이준  M  139   청소
8  박보검  M  132   청소

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="zwkgK-9uAno" href='#jce-judge/open/zwkgK-9uAno' target='_self'><span>판다스 - 데이터 정렬 - 문자 데이터</span></a>

### **(3) 여러 기준으로 정렬하기**


> `by` 인수를 지정할 때 list안에 여러 열 이름을 넣어주면, 그 순서를 우선순위로 하여 정렬합니다.  
> 
> `DataFrame.sort_values(by=['column1', 'column2'])`  
> : column1 데이터를 기준으로 우선 정렬하고,  
>   column1의 값이 같은 경우 column2 데이터를 기준으로 정렬하여 행 순서를 바꿈    

> 학생 정보 데이터에는 여러 열의 데이터가 있습니다.  
> 성별로 우선 정렬 후 키 순서로 정렬해봅시다.   
> 그리고 담당 기준으로 우선 정렬 후 이름 순서로 정렬해봅시다.

In [6]:
# 예제 4: 여러 기준으로 정렬하기

print("성별로 우선 정렬 후 키 순서로 정렬하기:")
print(students.sort_values(by=['성별', '키']))

print("\n")
print("담당으로 우선 정렬 후 이름 순서로 정렬하기:")
print(students.sort_values(by=['담당', '이름']))

성별로 우선 정렬 후 키 순서로 정렬하기:
    이름 성별    키   담당
5  정수정  F  129   급식
7  김로즈  F  135  준비물
4  손민지  F  137   급식
1  이영희  F  141  준비물
9  조앤디  F  150   급식
2  김영재  M  128  준비물
0  황철수  M  130   청소
8  박보검  M  132   청소
6  최이준  M  139   청소
3  오민준  M  143   청소


담당으로 우선 정렬 후 이름 순서로 정렬하기:
    이름 성별    키   담당
4  손민지  F  137   급식
5  정수정  F  129   급식
9  조앤디  F  150   급식
7  김로즈  F  135  준비물
2  김영재  M  128  준비물
1  이영희  F  141  준비물
8  박보검  M  132   청소
3  오민준  M  143   청소
6  최이준  M  139   청소
0  황철수  M  130   청소

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="1Jz1bJPHk58" href='#jce-judge/open/1Jz1bJPHk58' target='_self'><span>판다스 - 데이터 정렬 - 여러 기준</span></a>

> `sort_values` 함수 안에 `inplace=True` 로 인수를 지정해주면, 원본의 데이터 순서를 바꾸어 줍니다.  

> 담당 영역별로 당번 순서를 정하기 위해 담당을 기준으로 우선 정렬한 뒤 이름을 기준으로 정렬하였습니다.  
> 원본까지 정렬해봅시다.

In [7]:
# 예제 5: 원본 데이터도 변경하기

# 담당으로 우선 정렬 후 이름 순서로 정렬하기
students.sort_values(by=['담당', '이름'], inplace=True)

print("새롭게 정렬된 students 데이터:")
students

새롭게 정렬된 students 데이터:

    이름 성별    키   담당
4  손민지  F  137   급식
5  정수정  F  129   급식
9  조앤디  F  150   급식
7  김로즈  F  135  준비물
2  김영재  M  128  준비물
1  이영희  F  141  준비물
8  박보검  M  132   청소
3  오민준  M  143   청소
6  최이준  M  139   청소
0  황철수  M  130   청소

## **2. 인덱스 기준으로 데이터 정렬**

> `sort_index` 를 이용하면 Pandas 데이터를 index 이름 기준으로 정렬할 수 있습니다.   
> 
> Series의 경우, `Series.sort_index()`는 행 index 순서로 정렬합니다.     
> DataFrame의 경우, `axis` 인수를 통해 행 index 혹은 열 index 기준으로 할지 지정해야 합니다.

### **(1) 행 인덱스 기준으로 정렬하기**

> 다음과 같이 행 index 기준으로 데이터를 정렬할 수 있습니다.  
> 
> `data.sort_index()` 
> : 행 index 기준으로 정렬되도록 행 순서를 바꿈 
> 
> 행 Index가 숫자일 때, 숫자의 오름차순으로 정렬됩니다.  
> 행 Index가 문자일 때, 알파벳의 순서대로 정렬됩니다.  
> 
> `ascending=False` 인수를 지정하면 숫자의 내림차순 또는 알파벳의 반대 순서로 정렬됩니다.  
> `inplace=True` 인수를 지정하면 원본도 변경됩니다.  

> 학생 정보 데이터의 행 index를 기준으로 데이터를 정렬해봅시다.

In [8]:
# 예제 6: 행 인덱스 기준으로 정렬하기

# 행 인덱스 기준으로 정렬하기
students.sort_index(inplace=True)

print("행 인덱스 기준으로 정렬된 students 데이터:")
students

행 인덱스 기준으로 정렬된 students 데이터:

    이름 성별    키   담당
0  황철수  M  130   청소
1  이영희  F  141  준비물
2  김영재  M  128  준비물
3  오민준  M  143   청소
4  손민지  F  137   급식
5  정수정  F  129   급식
6  최이준  M  139   청소
7  김로즈  F  135  준비물
8  박보검  M  132   청소
9  조앤디  F  150   급식

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="2nKnq5WDG14" href='#jce-judge/open/2nKnq5WDG14' target='_self'><span>판다스 - 데이터 정렬 - 인덱스 기준</span></a>

### **(2) 열 인덱스 기준으로 정렬하기**

> DataFrame에서는 다음과 같이 열 index 기준으로 데이터를 정렬할 수 있습니다.  
> 
> `DataFrame.sort_index(axis=1)` 
> : 열 index 기준으로 정렬되도록 열 순서를 바꿈 
> 
> 열 Index가 숫자일 때, 숫자의 오름차순으로 정렬됩니다.  
> 열 Index가 문자일 때, 알파벳의 순서대로 정렬됩니다.  
> 
> `ascending=False` 인수를 지정하면 숫자의 내림차순 또는 알파벳의 반대 순서로 정렬됩니다.  
> `inplace=True` 인수를 지정하면 원본도 변경됩니다.  

> 학생 정보 데이터의 열 index를 기준으로 데이터를 정렬해봅시다.

In [9]:
# 예제 7: 열 인덱스 기준으로 정렬하기

# 열 인덱스 기준으로 정렬하기
students.sort_index(axis=1, inplace=True)

print("열 인덱스 기준으로 정렬된 students 데이터:")
students

열 인덱스 기준으로 정렬된 students 데이터:

    담당 성별   이름    키
0   청소  M  황철수  130
1  준비물  F  이영희  141
2  준비물  M  김영재  128
3   청소  M  오민준  143
4   급식  F  손민지  137
5   급식  F  정수정  129
6   청소  M  최이준  139
7  준비물  F  김로즈  135
8   청소  M  박보검  132
9   급식  F  조앤디  150

## **3. 무작위 정렬 (random sort/shuffle)**
> 기준을 가지고 순서대로 정렬하기도 하지만, 무작위로 데이터를 섞어야 하는 경우도 있습니다.  
> 인공지능을 학습할 때는 데이터가 무작위로 섞여 있어야 편향된 결과가 나오지 않고 잘 학습됩니다.

### **(1) Pandas sample 함수로 무작위 정렬하기**

> `sample`은 Series, DataFrame의 행 데이터를 무작위로 반환합니다.  
>
> `data.sample()` : 랜덤으로 1개 행 데이터 반환  
> `data.sample(n=3)` : 랜덤으로 3개 행 데이터 반환  
>
> sample의 `frac`인수는 fraction(부분)으로 전체 데이터 중 반환할 데이터 개수의 비율을 뜻합니다.  
> 즉, `frac=1`이면 데이터의 전체가 다시 반환됩니다.  
> 이때 순서는 무작위로 섞여 반환됩니다.  
>
> `data.sample(frac=1)` : 무작위 순서로 바뀐 전체 데이터 반환

In [10]:
# 예제 8: 무작위로 데이터 정렬하기

# sample 함수 이용하여 데이터 무작위 정렬하기
print("데이터 무작위 정렬: ")
print(students.sample(frac=1))
print("\n")

# 한! 번! 더!
print("다시 데이터 무작위 정렬: ")
print(students.sample(frac=1))

데이터 무작위 정렬:
    담당 성별   이름    키
9   급식  F  조앤디  150
1  준비물  F  이영희  141
5   급식  F  정수정  129
8   청소  M  박보검  132
2  준비물  M  김영재  128
3   청소  M  오민준  143
4   급식  F  손민지  137
7  준비물  F  김로즈  135
6   청소  M  최이준  139
0   청소  M  황철수  130


다시 데이터 무작위 정렬:
    담당 성별   이름    키
2  준비물  M  김영재  128
9   급식  F  조앤디  150
8   청소  M  박보검  132
1  준비물  F  이영희  141
4   급식  F  손민지  137
3   청소  M  오민준  143
0   청소  M  황철수  130
6   청소  M  최이준  139
5   급식  F  정수정  129
7  준비물  F  김로즈  135

### **(2) 무작위 정렬 기억하기**

> 위와 같이 무작위 정렬을 반복할때마다 다른 결과가 나옵니다.  
> 만약, 한 번 무작위로 정렬된 데이터의 순서를 기억하고 싶다면 어떻게 해야 할까요?  
>
> `random_state` 인수를 이용할 수 있습니다.  
>
> `data.sample(frac=1, random_state=n)`  
> : 무작위 순서로 바뀐 전체 데이터 반환하는데 만약 같은 n을 사용하면 항상 같은 결과를 반환

In [11]:
# 예제 9: 무작위로 데이터 정렬한 순서 기억하기

# sample 함수 이용하여 데이터 무작위 정렬하기
print("random_state=0으로 데이터 무작위 정렬: ")
print(students.sample(frac=1, random_state=0))
print("\n")

# 한! 번! 더!
print("다시 random_state=0으로 데이터 무작위 정렬: ")
print(students.sample(frac=1, random_state=0))

random_state=0으로 데이터 무작위 정렬:
    담당 성별   이름    키
2  준비물  M  김영재  128
8   청소  M  박보검  132
4   급식  F  손민지  137
9   급식  F  조앤디  150
1  준비물  F  이영희  141
6   청소  M  최이준  139
7  준비물  F  김로즈  135
3   청소  M  오민준  143
0   청소  M  황철수  130
5   급식  F  정수정  129


다시 random_state=0으로 데이터 무작위 정렬:
    담당 성별   이름    키
2  준비물  M  김영재  128
8   청소  M  박보검  132
4   급식  F  손민지  137
9   급식  F  조앤디  150
1  준비물  F  이영희  141
6   청소  M  최이준  139
7  준비물  F  김로즈  135
3   청소  M  오민준  143
0   청소  M  황철수  130
5   급식  F  정수정  129

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="AjTlr8Yu4qQ" href='#jce-judge/open/AjTlr8Yu4qQ' target='_self'><span>판다스 - 데이터 정렬 - 랜덤</span></a>