# **[10-3] 그룹별 통계량을 한번에 확인하기**

## **🎯 학습 목표**
**그룹별 통계량을 한번에 확인해봅시다.**

---

이전에 데이터의 기초 통계량을 한번에 확인할 수 있는 `describe`를 배운적이 있습니다.  
이것을 `groupby`와 함께 사용하면 그룹별 기초 통계량을 한눈에 확인할 수 있습니다.  

> **🔨 함수(FUNCTIONS):**
>
> **`DataFrame.groupby(by = 열이름_또는_열_리스트).describe()`**  
> 그룹화하고 각 그룹의 통계값을 한번에 구합니다.
> ---

## 데이터 그룹 확인하기

`groupby()` 함수와 `describe()` 함수를 같이 사용하여 데이터의 그룹별 통계를 낼 수 있습니다.  

<table>
<tr>
    <th><img src="" width="750"></th>
</tr>
<tr>
    <th>데이터프레임 그룹화하고 describe() 함수로 그룹별 통계 한번에 확인하기</th>
</tr>
</table>

In [1]:
# 예제_1_데이터프레임_그룹별_통계_한번에_확인하기

import pandas as pd

region = pd.read_csv('https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90.csv')

print('#'*30, f"{'region':^15s}" , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(region)
print('\n','#'*30, "{:^15s}".format('region.groupby(by=\'시도교육청\').describe()') , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(region.groupby(by='시도교육청').describe())

##############################     region      ##############################

           시도교육청       지역교육청            지역   정보공시 학교코드                 학교명  \
0       서울특별시교육청         교육부     서울특별시 강남구  S000003540            국립국악고등학교
1       서울특별시교육청         교육부     서울특별시 성북구  S000003561     서울대학교사범대학부설고등학교
2       서울특별시교육청         교육부     서울특별시 금천구  S000005401          국립전통예술고등학교
3       서울특별시교육청    서울특별시교육청     서울특별시 송파구  S010000370              가락고등학교
4       서울특별시교육청    서울특별시교육청     서울특별시 강동구  S010000371              강동고등학교
...          ...         ...           ...         ...                 ...
2412  제주특별자치도교육청  제주특별자치도교육청   제주특별자치도 제주시  S170000157              제주고등학교
2413  제주특별자치도교육청  제주특별자치도교육청  제주특별자치도 서귀포시  S170000158         서귀포산업과학고등학교
2414  제주특별자치도교육청  제주특별자치도교육청  제주특별자치도 서귀포시  S170000159              성산고등학교
2415  제주특별자치도교육청  제주특별자치도교육청   제주특별자치도 제주시  S170000773           제주외국어고등학교
2416  제주특별자치도교육청  제주특별자치도교육청   제주특별자치도 제주시  S170000155  제주제일고등학교부설방송통신고등학교

      학교급코드 설립구분 제외여부 제외사유   1학년   2학년   3학년  특수학급  순회학급 학급수(계)   학생수(계)  \
0         4   국립    N  NaN   5.0   5.0   5.0   0.0   0.0  15(0)   438(0)
1         4   국립    N  NaN   8.0   8.0   8.0   3.0   0.0  27(3)  709(24)
2         4   국립    N  NaN   6.0   6.0   6.0   0.0   0.0  18(0)   526(0)
3         4   공립    N  NaN  10.0  11.0  11.0   0.0   0.0  32(0)   822(0)
4         4   사립    N  NaN   8.0   8.0   8.0   0.0   0.0  24(0)   604(0)
...     ...  ...  ...  ...   ...   ...   ...   ...   ...    ...      ...
2412      4   공립    N  NaN   9.0   9.0  11.0   3.0   0.0  32(3)  764(34)
2413      4   공립    N  NaN   7.0   7.0   8.0   1.0   0.0  23(1)   404(4)
2414      4   공립    N  NaN   4.0   4.0   4.0   1.0   0.0  13(1)   214(4)
2415      4   공립    N  NaN   4.0   4.0   4.0   0.0   0.0  12(0)   283(0)
2416     11   공립    N  NaN   5.0   5.0   5.0   0.0   0.0  15(0)   424(0)

      학급당학생수
0      29.20
1      26.26
2      29.22
3      25.69
4      25.17
...      ...
2412   23.88
2413   17.57
2414   16.46
2415   23.58
2416   28.27

[2417 rows x 17 columns]

 ############################## region.groupby(by='시도교육청').describe() ##############################

            학교급코드                                                  1학년  \
            count      mean       std  min  25%  50%  75%   max  count
시도교육청
강원도교육청      123.0  4.398374  1.628334  4.0  4.0  4.0  4.0  11.0  123.0
경기도교육청      490.0  4.071429  0.704209  4.0  4.0  4.0  4.0  11.0  490.0
경상남도교육청     192.0  4.072917  0.712562  4.0  4.0  4.0  4.0  11.0  192.0
경상북도교육청     189.0  4.148148  1.010192  4.0  4.0  4.0  4.0  11.0  187.0
광주광역시교육청     70.0  4.200000  1.174611  4.0  4.0  4.0  4.0  11.0   70.0
대구광역시교육청     96.0  4.072917  0.714435  4.0  4.0  4.0  4.0  11.0   96.0
대전광역시교육청     64.0  4.218750  1.227577  4.0  4.0  4.0  4.0  11.0   64.0
부산광역시교육청    143.0  4.097902  0.824917  4.0  4.0  4.0  4.0  11.0  143.0
서울특별시교육청    325.0  4.107692  0.862867  4.0  4.0  4.0  4.0  11.0  325.0
세종특별자치시교육청   21.0  4.000000  0.000000  4.0  4.0  4.0  4.0   4.0   21.0
울산광역시교육청     59.0  4.118644  0.911322  4.0  4.0  4.0  4.0  11.0   59.0
인천광역시교육청    128.0  4.109375  0.871548  4.0  4.0  4.0  4.0  11.0  128.0
전라남도교육청     146.0  4.095890  0.816458  4.0  4.0  4.0  4.0  11.0  146.0
전라북도교육청     135.0  4.103704  0.848828  4.0  4.0  4.0  4.0  11.0  135.0
제주특별자치도교육청   31.0  4.225806  1.257237  4.0  4.0  4.0  4.0  11.0   31.0
충청남도교육청     119.0  4.117647  0.903632  4.0  4.0  4.0  4.0  11.0  119.0
충청북도교육청      86.0  4.162791  1.061192  4.0  4.0  4.0  4.0  11.0   86.0

                      ... 순회학급      학급당학생수                              \
                mean  ...  75%  max  count       mean       std    min
시도교육청                 ...
강원도교육청      4.650407  ...  0.0  0.0  123.0  18.562683  6.260396   2.67
경기도교육청      9.059184  ...  0.0  4.0  490.0  24.097694  4.663345   8.38
경상남도교육청     6.161458  ...  0.0  1.0  192.0  21.720625  8.228990   4.50
경상북도교육청     5.406417  ...  0.0  0.0  187.0  19.806417  3.892281   6.67
광주광역시교육청    8.114286  ...  0.0  0.0   70.0  24.409143  3.598639  15.89
대구광역시교육청    9.197917  ...  0.0  0.0   96.0  22.706354  3.331573  15.50
대전광역시교육청    9.328125  ...  0.0  1.0   64.0  21.964375  4.435213  11.44
부산광역시교육청    7.720280  ...  0.0  0.0  143.0  21.282937  3.610687  13.44
서울특별시교육청    9.080000  ...  0.0  0.0  325.0  23.141292  4.342817   6.94
세종특별자치시교육청  7.523810  ...  0.0  0.0   21.0  21.975714  3.458982  13.54
울산광역시교육청    7.101695  ...  0.0  0.0   59.0  22.304068  3.371137  14.25
인천광역시교육청    7.851562  ...  0.0  0.0  128.0  22.072891  5.124342   1.50
전라남도교육청     5.054795  ...  0.0  1.0  146.0  18.596370  4.774548   5.13
전라북도교육청     5.466667  ...  0.0  0.0  135.0  19.412370  6.418252   3.00
제주특별자치도교육청  7.483871  ...  0.0  0.0   31.0  24.427097  3.797970  16.46
충청남도교육청     6.445378  ...  0.0  2.0  119.0  21.963529  5.529469   9.57
충청북도교육청     6.372093  ...  0.0  0.0   86.0  22.362093  4.194470   8.00


                25%     50%      75%     max
시도교육청
강원도교육청      14.1700  19.830  22.8050   28.44
경기도교육청      22.0875  24.430  26.2350   40.67
경상남도교육청     18.4800  21.605  23.8225  105.67
경상북도교육청     17.9000  20.530  21.9300   29.41
광주광역시교육청    22.5625  24.305  25.9150   31.73
대구광역시교육청    20.5725  22.360  24.4075   38.70
대전광역시교육청    18.7375  22.630  25.1450   34.97
부산광역시교육청    18.8500  20.320  23.1850   35.80
서울특별시교육청    20.7100  22.960  25.6200   40.41
세종특별자치시교육청  19.7300  23.400  24.8100   25.25
울산광역시교육청    19.9100  22.410  23.8800   31.58
인천광역시교육청    20.5075  23.280  25.0400   32.11
전라남도교육청     14.8350  19.585  22.3425   28.50
전라북도교육청     16.3800  19.850  24.2950   34.33
제주특별자치도교육청  21.6500  24.710  27.5150   29.78
충청남도교육청     18.2750  21.610  26.0500   36.50
충청북도교육청     20.0500  22.505  25.5300   28.67

[17 rows x 56 columns]

### **💯 연습문제를 풀어봅시다**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="qw22bqe0uf4" href='#jce-judge/open/qw22bqe0uf4' target='_self'><span>판다스 - 데이터 그룹 - describe</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="So_m24VWMOs" href='#jce-judge/open/So_m24VWMOs' target='_self'><span>판다스 - 데이터 그룹 - describe (2)</span></a>