In [ ]:
import pandas as pd

# **[단원순서] 제목에는 단원 순서가 반드시 포함되어야 합니다.**

## **🎯 학습 목표**
**학습 목표를 적습니다.**

---

> **🔨 함수(FUNCTIONS):**
>
> 함수에 대해 설명합니다.

> **⚠️ 주의(WARNING):**
>
> 주의할 사항에 대해 적습니다.

> **⛔️ 오류(ERROR):**
>
> 주의할 만한 오류에 대해 적습니다.

> **🎨 타입(Type):**
>
> 객체의 타입에 대한 설명을 적습니다.

> **✏️ 알아봅시다(NOTE):**
>
> 설명에 포함된 개념 중 학생들이 모를만한 개념에 대한 설명을 적습니다.

**😃이미지설명😃**

#### 예제 1 : 매개변수를 이용해 인덱스를 지정해 시리즈 만들기

In [ ]:
# 예제_1_매개변수를_이용해_인덱스를_지정해_시리즈만들기_딕셔너리

예제 셀 위에는 마크다운 셀에 #### 크기로 제목을 적습니다. (예제 n : ~~~)
예제 셀 첫번째 줄에는 셀의 이름을 적습니다.( 특수기호는 .-_ 만 사용할 수 있습니다. 띄어쓰기는 _로 대신합니다. 예제_(예제번호)_내용)
두번째 줄에는 문제에 대한 설명을 추가합니다.

> **❓ 생각해보기(QUESTION):**
>
> 학생들이 생각할 만한 질문을 적습니다.

질문에 대한 대답을 여기에 적어봅시다.

### **💯 연습문제를 풀어봅시다**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="CrwnIWE7d1E" href='#jce-judge/open/CrwnIWE7d1E' target='_self'><span>판다스 기초 - 시리즈 만들기 (1)</span></a>
2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="84ASSq3j5vw" href='#jce-judge/open/84ASSq3j5vw' target='_self'><span>판다스 기초 - 시리즈 만들기 (2)</span></a>
3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="85s1anMGz4o" href='#jce-judge/open/85s1anMGz4o' target='_self'><span>판다스 기초 - 시리즈 만들기 (3)</span></a>
4. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="q6IFlnD9qnI" href='#jce-judge/open/q6IFlnD9qnI' target='_self'><span>판다스 기초 - 시리즈 만들기 (4)</span></a>

문제버튼을 넣을 때에는 반드시 앞에 번호를 붙여줍니다.

In [1]:
import pandas as pd

a = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'f' : 6})
b = pd.Series({'a' : 1, 'c' : 2, 'e' : 3, 'g' : 4, 'i' : 5, 'k' : 6})
a+b

a    2.0
b    NaN
c    5.0
d    NaN
e    8.0
f    NaN
g    NaN
i    NaN
k    NaN
dtype: float64

In [10]:
a = pd.DataFrame([['가방','apple'],['나비', 'banana'],['다리', 'cat']],
                 index = [0,1,2], columns = ['A', 'B'])
b = pd.Series(['나비', 'cat'], index = ['A', 'B'])

print(a)
a.isin(['apple', '나비'])

    A       B
0  가방   apple
1  나비  banana
2  다리     cat

       A      B
0  False   True
1   True  False
2  False  False

In [7]:
a = pd.DataFrame([[12.34,1234.5678],[56.78, 1.2],[123, 400]],
                 index = [0,1,2], columns = ['A', 'B'])

a.round(-1)

       A       B
0   10.0  1230.0
1   60.0     0.0
2  120.0   400.0

In [13]:
a = pd.DataFrame([[2,5],[5,1],[3,4]],
                 index = [0,1,2], columns = ['A', 'B'])

a.rank(axis = 0, ascending = False)

     A    B
0  3.0  1.0
1  1.0  3.0
2  2.0  2.0

In [7]:
import pandas as pd

a = pd.DataFrame([[2,5],[5,1],[3,4]],
                 index = [0,1,2], columns = ['A', 'B'])

b = pd.Series([1,1,1], index = ['A', 'B', 'C'])

a.loc['3'] = b
a

   A  B
0  2  5
1  5  1
2  3  4
3  1  1

In [27]:
import pandas as pd

a = pd.DataFrame([[2,5],[5,1],[3,4]],
                 index = [0,1,2], columns = ['A', 'B'])

print((a > 2).any(axis = 0))
print(a > 2)

A    True
B    True
dtype: bool
       A      B
0  False   True
1   True  False
2   True   True

In [10]:
# 예제 3: Boolean Indexing 확인하기
import pandas as pd
# DataFrame 생성하기
a = pd.DataFrame([[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5]])
print(a)
print("1, 3번째 행만 남기기: ")
indexing = [True, False, True, False]  # 1, 3번째만 True
print(a[indexing])

print("\n", "2, 4번째 행의 0, 1 열 남기기")
condition = a >= 0  # 2, 4번째만 True
print(condition)
print(a.loc[condition])

   0  1  2
0  0  1  2
1  1  2  3
2  2  3  4
3  3  4  5
1, 3번째 행만 남기기:
   0  1  2
0  0  1  2
2  2  3  4

 2, 4번째 행의 0, 1 열 남기기
      0     1     2
0  True  True  True
1  True  True  True
2  True  True  True
3  True  True  True

No matching template
---------------------------------------------------------------------------
오류도우미의 설명

ValueError: Cannot index with multidimensional key

In [20]:
import pandas as pd

a = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'f' : 6})
b = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'g' : 6})
c = pd.concat([a,b], axis = 1)
pd.concat([c,a], axis = 1, ignore_index = True)

     0    1    2
a  1.0  1.0  1.0
b  2.0  2.0  2.0
c  3.0  3.0  3.0
d  4.0  4.0  4.0
e  5.0  5.0  5.0
f  6.0  NaN  6.0
g  NaN  6.0  NaN