In [ ]:
import pandas as pd

# **[Îã®ÏõêÏàúÏÑú] Ï†úÎ™©ÏóêÎäî Îã®Ïõê ÏàúÏÑúÍ∞Ä Î∞òÎìúÏãú Ìè¨Ìï®ÎêòÏñ¥Ïïº Ìï©ÎãàÎã§.**

## **üéØ ÌïôÏäµ Î™©Ìëú**
**ÌïôÏäµ Î™©ÌëúÎ•º Ï†ÅÏäµÎãàÎã§.**

---

> **üî® Ìï®Ïàò(FUNCTIONS):**
>
> Ìï®ÏàòÏóê ÎåÄÌï¥ ÏÑ§Î™ÖÌï©ÎãàÎã§.

> **‚ö†Ô∏è Ï£ºÏùò(WARNING):**
>
> Ï£ºÏùòÌï† ÏÇ¨Ìï≠Ïóê ÎåÄÌï¥ Ï†ÅÏäµÎãàÎã§.

> **‚õîÔ∏è Ïò§Î•ò(ERROR):**
>
> Ï£ºÏùòÌï† ÎßåÌïú Ïò§Î•òÏóê ÎåÄÌï¥ Ï†ÅÏäµÎãàÎã§.

> **üé® ÌÉÄÏûÖ(Type):**
>
> Í∞ùÏ≤¥Ïùò ÌÉÄÏûÖÏóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï†ÅÏäµÎãàÎã§.

> **‚úèÔ∏è ÏïåÏïÑÎ¥ÖÏãúÎã§(NOTE):**
>
> ÏÑ§Î™ÖÏóê Ìè¨Ìï®Îêú Í∞úÎÖê Ï§ë ÌïôÏÉùÎì§Ïù¥ Î™®Î•ºÎßåÌïú Í∞úÎÖêÏóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï†ÅÏäµÎãàÎã§.

**üòÉÏù¥ÎØ∏ÏßÄÏÑ§Î™ÖüòÉ**

#### ÏòàÏ†ú 1 : Îß§Í∞úÎ≥ÄÏàòÎ•º Ïù¥Ïö©Ìï¥ Ïù∏Îç±Ïä§Î•º ÏßÄÏ†ïÌï¥ ÏãúÎ¶¨Ï¶à ÎßåÎì§Í∏∞

In [ ]:
# ÏòàÏ†ú_1_Îß§Í∞úÎ≥ÄÏàòÎ•º_Ïù¥Ïö©Ìï¥_Ïù∏Îç±Ïä§Î•º_ÏßÄÏ†ïÌï¥_ÏãúÎ¶¨Ï¶àÎßåÎì§Í∏∞_ÎîïÏÖîÎÑàÎ¶¨

ÏòàÏ†ú ÏÖÄ ÏúÑÏóêÎäî ÎßàÌÅ¨Îã§Ïö¥ ÏÖÄÏóê #### ÌÅ¨Í∏∞Î°ú Ï†úÎ™©ÏùÑ Ï†ÅÏäµÎãàÎã§. (ÏòàÏ†ú n : ~~~)
ÏòàÏ†ú ÏÖÄ Ï≤´Î≤àÏß∏ Ï§ÑÏóêÎäî ÏÖÄÏùò Ïù¥Î¶ÑÏùÑ Ï†ÅÏäµÎãàÎã§.( ÌäπÏàòÍ∏∞Ìò∏Îäî .-_ Îßå ÏÇ¨Ïö©Ìï† Ïàò ÏûàÏäµÎãàÎã§. ÎùÑÏñ¥Ïì∞Í∏∞Îäî _Î°ú ÎåÄÏã†Ìï©ÎãàÎã§. ÏòàÏ†ú_(ÏòàÏ†úÎ≤àÌò∏)_ÎÇ¥Ïö©)
ÎëêÎ≤àÏß∏ Ï§ÑÏóêÎäî Î¨∏Ï†úÏóê ÎåÄÌïú ÏÑ§Î™ÖÏùÑ Ï∂îÍ∞ÄÌï©ÎãàÎã§.

> **‚ùì ÏÉùÍ∞ÅÌï¥Î≥¥Í∏∞(QUESTION):**
>
> ÌïôÏÉùÎì§Ïù¥ ÏÉùÍ∞ÅÌï† ÎßåÌïú ÏßàÎ¨∏ÏùÑ Ï†ÅÏäµÎãàÎã§.

ÏßàÎ¨∏Ïóê ÎåÄÌïú ÎåÄÎãµÏùÑ Ïó¨Í∏∞Ïóê Ï†ÅÏñ¥Î¥ÖÏãúÎã§.

### **üíØ Ïó∞ÏäµÎ¨∏Ï†úÎ•º ÌíÄÏñ¥Î¥ÖÏãúÎã§**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="CrwnIWE7d1E" href='#jce-judge/open/CrwnIWE7d1E' target='_self'><span>ÌåêÎã§Ïä§ Í∏∞Ï¥à - ÏãúÎ¶¨Ï¶à ÎßåÎì§Í∏∞ (1)</span></a>
2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="84ASSq3j5vw" href='#jce-judge/open/84ASSq3j5vw' target='_self'><span>ÌåêÎã§Ïä§ Í∏∞Ï¥à - ÏãúÎ¶¨Ï¶à ÎßåÎì§Í∏∞ (2)</span></a>
3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="85s1anMGz4o" href='#jce-judge/open/85s1anMGz4o' target='_self'><span>ÌåêÎã§Ïä§ Í∏∞Ï¥à - ÏãúÎ¶¨Ï¶à ÎßåÎì§Í∏∞ (3)</span></a>
4. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="q6IFlnD9qnI" href='#jce-judge/open/q6IFlnD9qnI' target='_self'><span>ÌåêÎã§Ïä§ Í∏∞Ï¥à - ÏãúÎ¶¨Ï¶à ÎßåÎì§Í∏∞ (4)</span></a>

Î¨∏Ï†úÎ≤ÑÌäºÏùÑ ÎÑ£ÏùÑ ÎïåÏóêÎäî Î∞òÎìúÏãú ÏïûÏóê Î≤àÌò∏Î•º Î∂ôÏó¨Ï§çÎãàÎã§.

In [1]:
import pandas as pd

a = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'f' : 6})
b = pd.Series({'a' : 1, 'c' : 2, 'e' : 3, 'g' : 4, 'i' : 5, 'k' : 6})
a+b

a    2.0
b    NaN
c    5.0
d    NaN
e    8.0
f    NaN
g    NaN
i    NaN
k    NaN
dtype: float64

In [10]:
a = pd.DataFrame([['Í∞ÄÎ∞©','apple'],['ÎÇòÎπÑ', 'banana'],['Îã§Î¶¨', 'cat']],
                 index = [0,1,2], columns = ['A', 'B'])
b = pd.Series(['ÎÇòÎπÑ', 'cat'], index = ['A', 'B'])

print(a)
a.isin(['apple', 'ÎÇòÎπÑ'])

    A       B
0  Í∞ÄÎ∞©   apple
1  ÎÇòÎπÑ  banana
2  Îã§Î¶¨     cat

       A      B
0  False   True
1   True  False
2  False  False

In [7]:
a = pd.DataFrame([[12.34,1234.5678],[56.78, 1.2],[123, 400]],
                 index = [0,1,2], columns = ['A', 'B'])

a.round(-1)

       A       B
0   10.0  1230.0
1   60.0     0.0
2  120.0   400.0

In [13]:
a = pd.DataFrame([[2,5],[5,1],[3,4]],
                 index = [0,1,2], columns = ['A', 'B'])

a.rank(axis = 0, ascending = False)

     A    B
0  3.0  1.0
1  1.0  3.0
2  2.0  2.0

In [7]:
import pandas as pd

a = pd.DataFrame([[2,5],[5,1],[3,4]],
                 index = [0,1,2], columns = ['A', 'B'])

b = pd.Series([1,1,1], index = ['A', 'B', 'C'])

a.loc['3'] = b
a

   A  B
0  2  5
1  5  1
2  3  4
3  1  1

In [27]:
import pandas as pd

a = pd.DataFrame([[2,5],[5,1],[3,4]],
                 index = [0,1,2], columns = ['A', 'B'])

print((a > 2).any(axis = 0))
print(a > 2)

A    True
B    True
dtype: bool
       A      B
0  False   True
1   True  False
2   True   True

In [10]:
# ÏòàÏ†ú 3: Boolean Indexing ÌôïÏù∏ÌïòÍ∏∞
import pandas as pd
# DataFrame ÏÉùÏÑ±ÌïòÍ∏∞
a = pd.DataFrame([[0, 1, 2], [1, 2, 3], [2, 3, 4], [3, 4, 5]])
print(a)
print("1, 3Î≤àÏß∏ ÌñâÎßå ÎÇ®Í∏∞Í∏∞: ")
indexing = [True, False, True, False]  # 1, 3Î≤àÏß∏Îßå True
print(a[indexing])

print("\n", "2, 4Î≤àÏß∏ ÌñâÏùò 0, 1 Ïó¥ ÎÇ®Í∏∞Í∏∞")
condition = a >= 0  # 2, 4Î≤àÏß∏Îßå True
print(condition)
print(a.loc[condition])

   0  1  2
0  0  1  2
1  1  2  3
2  2  3  4
3  3  4  5
1, 3Î≤àÏß∏ ÌñâÎßå ÎÇ®Í∏∞Í∏∞:
   0  1  2
0  0  1  2
2  2  3  4

 2, 4Î≤àÏß∏ ÌñâÏùò 0, 1 Ïó¥ ÎÇ®Í∏∞Í∏∞
      0     1     2
0  True  True  True
1  True  True  True
2  True  True  True
3  True  True  True

No matching template
---------------------------------------------------------------------------
Ïò§Î•òÎèÑÏö∞ÎØ∏Ïùò ÏÑ§Î™Ö

ValueError: Cannot index with multidimensional key

In [20]:
import pandas as pd

a = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'f' : 6})
b = pd.Series({'a' : 1, 'b' : 2, 'c' : 3, 'd' : 4, 'e' : 5, 'g' : 6})
c = pd.concat([a,b], axis = 1)
pd.concat([c,a], axis = 1, ignore_index = True)

     0    1    2
a  1.0  1.0  1.0
b  2.0  2.0  2.0
c  3.0  3.0  3.0
d  4.0  4.0  4.0
e  5.0  5.0  5.0
f  6.0  NaN  6.0
g  NaN  6.0  NaN