# **[7-2] 값 기반으로 데이터 값 변경하기**

## **🎯 학습 목표**
**값 기반으로 데이터 값을 변경해봅시다.**

---

데이터를 변경할 때에 인덱싱이 아닌 특정 값들을 가진 데이터를 한번에 수정할 때에는 `replace()` 함수를 사용할 수 있습니다.

> **🔨 함수(FUNCTIONS):**
>
> **`DataFrame.replace(to_replace = 데이터1, value = 데이터2)`**  
> 데이터프레임의 데이터1들을 데이터2로 수정한 데이터프레임을 반환합니다.
>> **매개변수(parameter)**
>>
>> **`to_replace`** : 수정할 데이터를 지정합니다.   
>> **`value`** : 새롭게 수정될 데이터를 지정합니다.
> ---
> **`DataFrame.replace(to_replace = 리스트, value = 데이터2)`**  
> 데이터프레임의 데이터 중 리스트에 포함된 데이터들을 데이터2로 수정한 데이터프레임을 반환합니다.
>> **매개변수(parameter)**
>>
>> **`to_replace`** : 수정해야 할 데이터의 리스트 입니다.   
>> **`value`** : 새롭게 수정될 데이터를 지정합니다.
> ---
> **`DataFrame.replace(to_replace = 딕셔너리)`**  
> 데이터프레임의 데이터 중 매개변수로 받은 딕셔너리의 키에 해당하는 들을 딕셔너리의 벨류에 해당하는 값들로 바꿔줍니다.
>> **매개변수(parameter)**
>>
>> **`to_replace`** : 수정할 값과 수정될 값의 대응을 지정한 딕셔너리입니다.   
> ---

## 데이터프레임의 특정 값들을 수정하기

`replace()` 함수를 이용하면 데이터프레임의 특정 값들을 원하는 값으로 변경할 수 있습니다.

> **⚠️ 주의(WARNING):**
>
> 인덱싱으로 데이터의 값을 변경할 때와는 다르게 replace로 데이터를 변경할 때에는 데이터프레임 원본이 바뀌지 않습니다.  
> 따라서 새로운 변수에 수정된 데이터프레임을 할당해주어야 합니다.

`replace(데이터1, 데이터2)` 로 `데이터1`들을 `데이터2`로 한번에 변경할 수 있습니다. 

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/pandas/material_07_07.png" width="750"></th>
</tr>
<tr>
    <th>replace() 함수로 특정 데이터 수정하기</th>
</tr>
</table>

`replace(데이터_리스트, 데이터2)` 로 `데이터_리스트`에 포함된 데이터들을 `데이터2`로 한번에 변경할 수 있습니다.  

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/pandas/material_07_08.png" width="750"></th>
</tr>
<tr>
    <th>replace() 함수로 여러 데이터 수정하기</th>
</tr>
</table>

`replace(딕셔너리)` 로 `딕셔너리`의 규칙에 따라 데이터프레임을 변경할 수 있습니다.  

<table>
<tr>
    <th><img src="https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/image/pandas/material_07_09.png" width="750"></th>
</tr>
<tr>
    <th>replace() 함수로 여러 데이터 규칙에 따라 수정하기</th>
</tr>
</table>

In [ ]:
# 예제_1_데이터프레임의_특정_값들을_수정하기

import pandas as pd

score = pd.read_csv('https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/midterm_exam_result.csv')
score.index = score['이름']
score = score.iloc[:,1:]

print('#'*30, f"{'score':^15s}" , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(score)
print('\n','#'*30, "{:^15s}".format('score.replace(18,100)') , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(score.replace(18,100))

In [ ]:
# 예제_2_데이터프레임의_여러_값들을_하나의_값으로_수정하기

import pandas as pd

score = pd.read_csv('https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/midterm_exam_result.csv')
score.index = score['이름']
score = score.iloc[:,1:]

print('#'*30, f"{'score':^15s}" , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(score)
print('\n','#'*30, "{:^15s}".format('score.replace([18,95,88,38,7],100)') , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(score.replace([18,95,88,38,7],100))

In [ ]:
# 예제_3_데이터프레임의_여러_값들을_정해진_규칙대로_수정하기

import pandas as pd

score = pd.read_csv('https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/midterm_exam_result.csv')
score.index = score['이름']
score = score.iloc[:,1:]

print('#'*30, f"{'score':^15s}" , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(score)
print('\n','#'*30, "{:^15s}".format('score.replace({18:100, 95:99, 88:98, 38:97, 7:96})') , '#' * 30, '\n') # 출력되는 결과들을 분리해서 보여주기 위한 코드입니다.
print(score.replace({18:100, 95:99, 88:98, 38:97, 7:96}))

### **💯 연습문제를 풀어봅시다**

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="SzB0uPNXl9Y" href='#jce-judge/open/SzB0uPNXl9Y' target='_self'><span>판다스 - 데이터 값 변경 - 1가지 값</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="f4VGEDRxHO4" href='#jce-judge/open/f4VGEDRxHO4' target='_self'><span>친구 이름 변경 (2)</span></a>

2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="4egTpZbVMZ4" href='#jce-judge/open/4egTpZbVMZ4' target='_self'><span>반평균 성적 변경(2)</span></a>


2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="2xZ3Fs7FMtg" href='#jce-judge/open/2xZ3Fs7FMtg' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값 (1)</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="uMudTUOpafQ" href='#jce-judge/open/uMudTUOpafQ' target='_self'><span>아이돌 멤버수 수정</span></a>



2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="3Be5uuDlrEI" href='#jce-judge/open/3Be5uuDlrEI' target='_self'><span>가족 직업 변경 (2)</span></a>


3. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="E3Vp2wXS6Hw" href='#jce-judge/open/E3Vp2wXS6Hw' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값 (2)</span></a>


2. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="mL-2BXbypoE" href='#jce-judge/open/mL-2BXbypoE' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값(3)</span></a>

1. <a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="LBop0grjxDs" href='#jce-judge/open/LBop0grjxDs' target='_self'><span>타이틀로 업데이트</span></a>