#### [시작하기]

<div class="alert alert-info">
    <font color=black>
    Pandas를 사용하기 위해서 처음 할 일을 무엇인가요?
    </font>
</div>

In [1]:
import pandas as pd # 판다스를 pd로 축약하여 불러옵니다

# **[13] 데이터 값 변경하기**

[오늘 배울 것]
1. 특정 위치의 데이터를 변경할 수 있다.
2. 특정 값의 데이터를 모두 한번에 변경할 수 있다.

> 데이터는 오류가 있을 수도 있고, 시간이 흘러 변할 수도 있습니다.  
> 이런 때에는 값을 변경하면 됩니다.  
>
> 변경할 데이터의 위치를 정확히 알고 있다면 인덱싱을 통해 위치를 지정한 후 새로운 값을 저장할 수 있습니다.  
> 변경할 데이터의 값을 알고 있는 경우에도 함수를 이용해 새로운 값으로 변경할 수 있습니다.

## **1. 특정 위치의 데이터 변경**

> 이전에 Pandas 데이터의 인덱싱 방법을 배웠습니다.  
> 인덱싱을 이용해 특정 위치의 데이터를 선택한 뒤 새로운 값을 입력할 수 있습니다.  
>
> 데이터 값 변경 연습에 사용할 학생 정보 데이터를 생성해봅시다.  
> 또한 변경 전과 후를 비교하기 위해 원본 데이터를 저장해둡시다.

In [8]:
# 예제 1: 학생 정보 데이터프레임 생성하기

# 학생 정보 데이터 프레임
students = pd.DataFrame(index=range(1, 11), data={"이름": ["철수", "영희", "맹구", "민준", "민지", "수정", "이준", "로즈", "보검", "앤디"], 
                                                  "장래희망": ["유투버", "유투버", "유투버", "아이돌", "아이돌", "과학자", "사업가", "과학자", "배우", "유투버"], 
                                                  "키": [130, 141, 128, 143, 137, 129, 139, 135, 132, 150]})

# 원본 데이터 저장해두기
students_원본 = students.copy()

# 학생 정보 확인하기
students

    이름 장래희망    키
1   철수  유투버  130
2   영희  유투버  141
3   맹구  유투버  128
4   민준  아이돌  143
5   민지  아이돌  137
6   수정  과학자  129
7   이준  사업가  139
8   로즈  과학자  135
9   보검   배우  132
10  앤디  유투버  150

### **(1) 1개 데이터 변경하기**

> 데이터프레임에서 열의 이름, 행의 index나 위치 순서를 알면 2차원 구조의 데이터에서 1개의 데이터를 특정할 수 있습니다.  
> 1개 데이터를 특정한 후 간단히 등호를 이용해 값을 지정하면 데이터 값이 변경됩니다. 
>
> `DataFrmae['column_name']['index'] = value`  
> `DataFrmae.loc['index', 'column_name'] = value`  
> `DataFrmae.iloc[n, m] = value`
>
> 3번 학생이 이름을 바꾸었다고 합니다.  
> 새로운 이름 '영재'로 변경하겠습니다.

In [10]:
# 예제 2: 1개 데이터 변경하기

# 3번 학생 이름을 '영재'로  변경
students.loc[3, "이름"] = "영재"

print("3번 학생의 이전 이름:", students_원본.loc[3, "이름"])
print("3번 학생의 바뀐 이름:", students.loc[3, "이름"])

3번 학생의 이전 이름: 맹구
3번 학생의 바뀐 이름: 영재

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="pdcOTVxad0k" href='#jce-judge/open/pdcOTVxad0k' target='_self'><span>판다스 - 데이터 값 변경 - 1개 위치</span></a>

### **(2) 여러 데이터를 하나의 값으로 변경하기**

> 인덱싱을 이용해 한번에 여러 데이터를 특정할 수 있습니다.  
> 예를 들어 1개의 행, 1개의 열, 여러개의 행, 여러개의 열, 여러 행과 열에 걸친 데이터들을 나타낼 수 있습니다.  
>
> 여러 데이터를 특정한 후 등호를 이용해 값을 지정하면 모두 같은 값으로 변경됩니다.  
> 이전에 배운 Broadcasting이 적용되기 때문입니다.  
>
> `DataFrame.column_name = value`  
> `DataFrame.loc['index'] = value`  
> `DataFrame.iloc[a:b, c:d] = value`
>
> 쌍둥이인 4번, 5번 학생들은 최근에 장래희망을 "선생님"으로 바꾸었습니다.  
> 두 학생의 장래희망을 한번에 변경하겠습니다.

In [23]:
# 예제 3: 인덱싱하여 여러개 데이터 하나의 값으로 변경하기

# 4, 5번 학생의 장래희망을 '선생님'으로 변경
students['장래희망'].iloc[3:5] = '선생님'

print("4, 5번 학생의 이전 정보:", '\n')
print(students_원본[['이름','장래희망']].iloc[3:5], '\n')

print("4, 5번 학생의 바뀐 정보:", '\n')
print(students[['이름','장래희망']].iloc[3:5])

4, 5번 학생의 이전 정보:

   이름 장래희망
4  민준  아이돌
5  민지  아이돌

4, 5번 학생의 바뀐 정보:

   이름 장래희망
4  민준  선생님
5  민지  선생님

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="vI2-Cplg3VY" href='#jce-judge/open/vI2-Cplg3VY' target='_self'><span>판다스 - 데이터 값 변경 - 여러 위치(1)</span></a>

### **(3) 여러 데이터를 새로운 데이터로 변경하기**

> 여러 데이터가 각자 다른 값으로 변경되는 경우도 있습니다.  
> 인덱싱을 이용해 여러 데이터를 특정한 후 등호를 이용해 **같은 크기**의 리스트 혹은 Numpy.array 데이터를 지정하면 새로운 값으로 변경됩니다. 
>
> `DataFrame.column_name = Numpy.array(len(DataFrame))`  
> `DataFrame.loc['index'] = Numpy.array(len(DataFrame.columns))`  
> `DataFrame.iloc[:2, :2] = [[0, 0], [0, 0]]`
>
> 방학이 끝나고 다시 신체검사를 하여 새로운 키 데이터가 생겼습니다.  
> 학생 정보를 새로운 데이터로 변경하겠습니다.

In [24]:
# 예제 4: 여러개 데이터 새로운 데이터로 변경하기

# 새로운 데이터 생성
new_height = [140, 145, 141, 149, 140, 135, 150, 140, 139, 155]

# 키 열을 새로운 데이터로 변경
students['키'] = new_height

print("학생들의 이전 키:", '\n')
print(students_원본[['이름','키']], '\n')

print("학생들의 바뀐 키:", '\n')
print(students[['이름','키']])

학생들의 이전 키:

    이름    키
1   철수  130
2   영희  141
3   맹구  128
4   민준  143
5   민지  137
6   수정  129
7   이준  139
8   로즈  135
9   보검  132
10  앤디  150

학생들의 바뀐 키:

    이름    키
1   철수  140
2   영희  145
3   영재  141
4   민준  149
5   민지  140
6   수정  135
7   이준  150
8   로즈  140
9   보검  139
10  앤디  155

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Lf_f_K08VMY" href='#jce-judge/open/Lf_f_K08VMY' target='_self'><span>판다스 - 데이터 값 변경 - 여러 위치(2)</span></a>

## **2. 특정 값의 데이터 변경**

> 데이터의 위치가 아닌 값을 이용해 데이터를 특정하고 변경하는 방법이 있습니다.  
> 이때에는 등호가 아닌 Pandas에서 제공하는 `replace` 함수를 이용합니다.  
> `replace`는 여러가지 방법으로 사용이 가능합니다.  
> 그 중 자주 쓰는 방법들을 소개하겠습니다. 
>
> 데이터 값 변경 연습에 사용할 성적 데이터를 생성해봅시다.  
> 또한 변경 전과 후를 비교하기 위해 원본 데이터를 저장해둡시다.  
> 성적 산출을 위해 {상, 중, 하}, {A, B, C} 로 나뉜 등급을 3점, 2점, 1점으로 바꾸어봅시다.

In [17]:
# 예제 5: 성적 정보 데이터프레임 생성하기

# 성적 정보 데이터 프레임
grades = pd.DataFrame(index=range(1, 11), data={"국어": list("상중중하상상중하중상"), 
                                                  "영어": list("BCBBAABACB"), 
                                                  "수학": list("ACBBCAABCB")})

# 원본 데이터 저장해두기
grades_원본 = grades.copy()

# 성적 정보 확인하기
grades

   국어 영어 수학
1   상  B  A
2   중  C  C
3   중  B  B
4   하  B  B
5   상  A  C
6   상  A  A
7   중  B  A
8   하  A  B
9   중  C  C
10  상  B  B

### **(1) 1가지 값을 변경하기**

> `replace`를 이용하면 특정값의 데이터를 모두 새로운 값으로 변경할 수 있습니다.  
>
> 기존의 값을 새로운 값으로 바꾸는 방법은 다음과 같습니다.  
> `Series.replace(value_old, value_new)`   
> `DataFrmae.replace(value_old, value_new)`  
>
> '상'등급을 받은 학생들에게 3점을 부여하려고 합니다.  
> `replace`를 이용해 데이터를 변경하겠습니다.

In [5]:
# 예제 6: 1가지 값 변경하기

# '상' 등급을 3으로 변경
grades.replace('상', 3)

print("국어 과목의 이전 성적:\n", grades_원본.국어)
print("\n국어 과목의 바뀐 성적:\n", grades.국어)

국어 과목의 이전 성적:
 1     상
2     중
3     중
4     하
5     상
6     상
7     중
8     하
9     중
10    상
Name: 국어, dtype: object

국어 과목의 바뀐 성적:
 1     상
2     중
3     중
4     하
5     상
6     상
7     중
8     하
9     중
10    상
Name: 국어, dtype: object

> 바뀐 것이 없습니다! 왜일까요?!

<div class="alert alert-warning">
    <font color=black>
    알아둘 점<br><br>
    </font>
    

```

PandasData.replace() 는 그 자체는 새로운 데이터이지만 원본을 바꾸지는 않습니다.  
원본을 바꾸고 싶다면 replace(inplace=True)와 같이 inplace 인수를 지정해주어야 합니다. 
```

</div>

In [12]:
# 예제 7: 1가지 값 변경하기, 원본 변경

# '상' 등급을 3으로 원본을 변경
grades.replace('상', 3, inplace=True)

print("국어 과목의 이전 성적:\n", grades_원본.국어)
print("\n국어 과목의 바뀐 성적:\n", grades.국어)

국어 과목의 이전 성적:
 1     상
2     중
3     중
4     하
5     상
6     상
7     중
8     하
9     중
10    상
Name: 국어, dtype: object

국어 과목의 바뀐 성적:
 1     3
2     중
3     중
4     하
5     3
6     3
7     중
8     하
9     중
10    3
Name: 국어, dtype: object

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="SzB0uPNXl9Y" href='#jce-judge/open/SzB0uPNXl9Y' target='_self'><span>판다스 - 데이터 값 변경 - 1가지 값</span></a>

### **(2) 여러가지 값을 하나의 값으로 변경하기**

> `replace`와 list를 이용하면 여러가지 값의 데이터를 모두 하나의 새로운 값으로 변경할 수 있습니다.  
>
> 기존의 값을 새로운 값으로 바꾸는 방법은 다음과 같습니다.  
> `Series.replace([value_old_1, value_old_2], value_new)`   
> `DataFrmae.replace([value_old_1, value_old_2], value_new)`  
>
> '중'과 'B'등급을 받은 학생들에게 2점을 부여하려고 합니다.  
> `replace`를 이용해 데이터를 변경하겠습니다.

In [13]:
# 예제 8: 여러가지 값을 하나의 값으로 변경하기

# '중', 'B' 등급을 2로 원본을 변경
grades.replace(['중', 'B'], 2, inplace=True)

print("학생들의 이전 성적:\n", grades_원본)
print("\n학생들의 바뀐 성적:\n", grades)

학생들의 이전 성적:
    국어 영어 수학
1   상  B  A
2   중  C  C
3   중  B  B
4   하  B  B
5   상  A  C
6   상  A  A
7   중  B  A
8   하  A  B
9   중  C  C
10  상  B  B

학생들의 바뀐 성적:
    국어 영어 수학
1   3  2  A
2   2  C  C
3   2  2  2
4   하  2  2
5   3  A  C
6   3  A  A
7   2  2  A
8   하  A  2
9   2  C  C
10  3  2  2

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="2xZ3Fs7FMtg" href='#jce-judge/open/2xZ3Fs7FMtg' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값 (1)</span></a>

### **(3) 여러가지 값을 각각 다른 값으로 변경하기**

> `replace`와 dictionary를 이용하면 여러가지 값의 데이터를 각각 다른 값으로 변경할 수 있습니다.  
>
> 기존의 값을 새로운 값으로 바꾸는 방법은 다음과 같습니다.  
> `Series.replace({old_1: new_1, old_2: new_2})`   
> `DataFrmae.replace({old_1: new_1, old_2: new_2})`  
>
> 'A'등급을 받은 학생은 3점, '하'와 'C'등급을 받은 학생들에게 1점을 부여하려고 합니다.  
> `replace`를 이용해 데이터를 변경하겠습니다.

In [14]:
# 예제 9: 여러가지 값을 각각 다른 값으로 변경하기

# 'A'등급은 3, '하', 'C' 등급을 1로 바꾸기 위한 dictionary
change_rule = {'A': 3, '하': 1, 'C': 1}

# 성적 데이터 원본 변경
grades.replace(change_rule, inplace=True)

print("학생들의 이전 성적:\n", grades_원본)
print("\n학생들의 바뀐 성적:\n", grades)

학생들의 이전 성적:
    국어 영어 수학
1   상  B  A
2   중  C  C
3   중  B  B
4   하  B  B
5   상  A  C
6   상  A  A
7   중  B  A
8   하  A  B
9   중  C  C
10  상  B  B

학생들의 바뀐 성적:
     국어  영어  수학
1    3   2   3
2    2   1   1
3    2   2   2
4    1   2   2
5    3   3   1
6    3   3   3
7    2   2   3
8    1   3   2
9    2   1   1
10   3   2   2

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="E3Vp2wXS6Hw" href='#jce-judge/open/E3Vp2wXS6Hw' target='_self'><span>판다스 - 데이터 값 변경 - 여러가지 값 (2)</span></a>

> 학생들의 등급을 모두 점수로 바꾸었기 때문에 종합 성적 산출이 가능해졌습니다.  
> 이전에 배운 데이터 내 연산방법을 이용해 종합 성적을 구해봅시다.

In [16]:
# 예제 10: 데이터 내 연산방법 이용하기

# 각 행 별로 점수 합을 계산
print(grades.sum(axis=1))

1     8
2     4
3     6
4     5
5     7
6     9
7     7
8     6
9     4
10    7
dtype: int64