#### [시작하기]

<div class="alert alert-info">
    <font color=black>
    Pandas를 사용하기 위해서 처음 할 일을 무엇인가요?
    </font>
</div>

In [2]:
import pandas as pd # 판다스를 pd로 축약하여 불러옵니다

# **[16] 데이터 합치기**

[오늘 배울 것]
1. 두 데이터를 열의 방향으로 합칠 수 있다.
2. 두 데이터를 행의 방향으로 합칠 수 있다.

> 여러 데이터를 합치거나 기존의 데이터에 연산 결과 등의 새로운 정보를 추가하고 싶을 때가 있습니다.  
> `concat` 함수는 Pandas 데이터들을 연결하여 하나의 데이터로 만드는데 사용됩니다.   
> `concat` 함수의 이용 규칙에 주의하며 데이터를 합치는 방법을 알아봅시다.

## **1. 열의 방향으로 합치기**

### **(1) Series 여러개 합쳐서 DataFrame 만들기**

> 1열인 Series가 여러개 합쳐지면 여러 열을 가지는 DataFrame이 됩니다.  
> 
> `dataframe = pd.concat([series1, series2], axis=1)`  
> : 첫번째 열이 series1, 두번째 열이 series2인 DataFrame 생성  
>
> 이때, 다음 규칙을 따르게 됩니다.  
> * 생성된 DataFrame의 열 Index는 list안의 Series의 순차적 순서대로 0부터 부여됨
> * 단, Series.name 이 있는 경우 name이 열 Index가 됨
> * Series들의 행 Index가 중복되는 경우 하나의 행이 됨
> * Series들의 행 Index가 중복되지 않는다면 해당 행이 없는 Series의 열 데이터는 None

In [5]:
# 예제 1: Series 여러개 합쳐서 DataFrame 만들기

## 같은 크기, 같은 index를 가지는 Series 두 개 생성
S1 = pd.Series([2, 4, 6, 8])
S2 = pd.Series([3, 6, 9, 12])

## S1, S2와 크기, index가 같지만 name이 지정된 Series 생성
S3 = pd.Series([4, 8, 12 , 16], name='4의 배수')

## S1, S2, S3와 크기가 다르고 index가 모두 같지는 않은 Series 생성
S4 = pd.Series(index=[2, 3, 4], data=[10, 15, 20])

# 네 개의 Series를 열의 방향으로 합치기
df = pd.concat([S1, S2, S3, S4], axis=1)

df

     0     1  4의 배수     2
0  2.0   3.0    4.0   NaN
1  4.0   6.0    8.0   NaN
2  6.0   9.0   12.0  10.0
3  8.0  12.0   16.0  15.0
4  NaN   NaN    NaN  20.0

#### <연습문제>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="iJ3G7ROpeQg" href='#jce-judge/open/iJ3G7ROpeQg' target='_self'><span>판다스 - 데이터 합치기 - 열 방향 (1)</span></a>

### **(2) DataFrame 열 방향으로 합치기**

> DataFrame 여러개를 열 방향으로 합치면 열이 더 많은 DataFrame이 됩니다.  
> 
> `dataframe = pd.concat([df1, df2], axis=1)`  
> : 열의 방향으로 df1, df2가 순차적으로 연결된 DataFrame 생성  
>
> 이때, 다음 규칙을 따르게 됩니다.  
> * 생성된 DataFrame의 열 Index는 list안의 DataFrame의 열 Index를 그대로 따름
> * 중복된 열 Index가 있는 경우에도 합쳐지지 않음
> * 열 Index를 순서대로 다시 부여하고 싶다면 ignore_index=True를 이용
> * DataFrmae들의 행 Index가 중복되는 경우 하나의 행이 됨
> * 행 Index가 중복되지 않는다면 해당 행이 없는 DataFrmae의 열 데이터는 None

In [4]:
# 예제 2: DataFrame 열 방향으로 합치기

## 2행 2열 DataFrame 생성
df1 = pd.DataFrame([[0, 1], [1, 2]], columns=[1, 2])

## df1과 index가 모두 같지는 않은 2행 2열 DataFrame 생성
df2 = pd.DataFrame([[3, 4], [4., 5.]], index=[1, 2])

## 3행 2열 DataFrame 생성
df3 = pd.DataFrame([[4, 5], [5, 6], [6., 7.]])

## 세 개의 DataFrame 열 방향으로 합치기
df = pd.concat([df1, df2, df3], axis=1)

df

     1    2    0    1    0    1
0  0.0  1.0  NaN  NaN  4.0  5.0
1  1.0  2.0  3.0  4.0  5.0  6.0
2  NaN  NaN  4.0  5.0  6.0  7.0

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="B8nXG7yv_7g" href='#jce-judge/open/B8nXG7yv_7g' target='_self'><span>판다스 - 데이터 합치기 - 열 방향 (2)</span></a>

## **2. 행의 방향으로 합치기**

### **(1) Series 행 방향으로 합쳐서 DataFrame 만들기**

> 1열인 Series를 열과 행을 바꾸어 1행 짜리 DataFrame으로 바꿀 수 있습니다.  
> 1행짜리 DataFrame을 여러개 합치면 여러 행을 가지는 DataFrame이 됩니다.  
>
> `df1 = series1.to_frame().T`    
> `df2 = series2.to_frame().T`  
> : Series를 1행자리 DataFrame으로 전환  
> `dataframe = pd.concat([df1, df2], axis=0)`  
> : 첫번째 행이 series1, 두번째 행이 series2인 DataFrame 생성  
>
> 이때, 다음 규칙을 따르게 됩니다.  
> * 생성된 DataFrame의 행 Index는 list안의 data의 행 Index를 그대로 따름  
> * 중복된 행 Index가 있어도 합쳐지지 않음
> * 행 Index를 순서대로 다시 부여하고 싶다면 ignore_index=True를 이용
> * Data들의 열 Index가 중복되는 경우 하나의 열이 됨
> * Data들의 열 Index가 중복되지 않는다면 해당 열이 없는 Data들의 행 데이터는 None

In [44]:
# 예제 3: Series 와 DataFrame 행 방향으로 합치기

## 5행, 4행의 Series 생성
S1 = pd.Series([1., 2., 3., 4., 5.], index=['a', 'b', 'c', 'd', 'e'])
S2 = pd.Series([2., 4., 6., 8.], index=['a', 'b', 'c', 'd'])

## S1, S2의 Index와 자신의 Column name이 중복되는 DataFrame 생성 
df1 = pd.DataFrame([[6., 9., 12., 15.], [8, 12, 16, 20]], columns=['b', 'c', 'd', 'e'])

# Series를 DataFrame으로 전환한 뒤 열과 행을 바꾸기
df_S1 = S1.to_frame().T  # 1행, 5열(columns: a, b, c, d, e)의 DataFrame으로 전환됨
df_S2 = S2.to_frame().T  # 1행, 4열(columns: a, b, c, d)의 DataFrame으로 전환됨

# DataFrame 3개를 행 방향으로 합치기
df = pd.concat([df_S1, df_S2, df1], axis=0)

df

     a    b     c     d     e
0  1.0  2.0   3.0   4.0   5.0
0  2.0  4.0   6.0   8.0   NaN
0  NaN  6.0   9.0  12.0  15.0
1  NaN  8.0  12.0  16.0  20.0

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="jscCW3ar_No" href='#jce-judge/open/jscCW3ar_No' target='_self'><span>판다스 - 데이터 합치기 - 행 방향 (1)</span></a>

### **(2) DataFrame 행 방향으로 합치기**

> DataFrame 여러개를 행 방향으로 합치면 행이 더 많은 DataFrame이 됩니다.  
> 
> `dataframe = pd.concat([df1, df2])`  
> : 열의 방향으로 df1, df2가 순차적으로 연결된 DataFrame 생성  
>  (axis인수를 지정하지 않으면 자동으로 0으로 지정되어 행 방향으로 합쳐집니다.)  
>
> 이때, 다음 규칙을 따르게 됩니다.  
> * 생성된 DataFrame의 행 Index는 list안의 data의 행 Index를 그대로 따름  
> * 중복된 행 Index가 있어도 합쳐지지 않음
> * 행 Index를 순서대로 다시 부여하고 싶다면 ignore_index=True를 이용
> * Data들의 열 Index가 중복되는 경우 하나의 열이 됨
> * Data들의 열 Index가 중복되지 않는다면 해당 열이 없는 Data들의 행 데이터는 None

In [6]:
# 예제 4: DataFrame과 DataFrame 행 방향으로 합치기

## 같은 크기이나 열 Index가 모두 같지는 않은 DataFrame 두 개 생성
df1 = pd.DataFrame([[2., 4., 6., 8.], [3, 6, 9, 12]])
df2 = pd.DataFrame([[8., 12., 16., 20.], [10, 15, 20, 25]], columns=[1, 2, 3, 4])

## 두 DataFrame 행 방향으로 합치고 행 Index 새로 부여하기
df = pd.concat([df1, df2], ignore_index=True)

df

     0     1     2     3     4
0  2.0   4.0   6.0   8.0   NaN
1  3.0   6.0   9.0  12.0   NaN
2  NaN   8.0  12.0  16.0  20.0
3  NaN  10.0  15.0  20.0  25.0

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="s9hpAThbHks" href='#jce-judge/open/s9hpAThbHks' target='_self'><span>판다스 - 데이터 합치기 - 행 방향 (2)</span></a>