#### [시작하기]

<div class="alert alert-info">
    <font color=black>
    Pandas를 사용하기 위해서 처음 할 일을 무엇인가요?
    </font>
</div>

In [1]:
import pandas as pd # 판다스를 pd로 축약하여 불러옵니다

# **[20] 결측값 처리하기**

[오늘 배울 것]
1. 결측값을 확인할 수 있다.
2. 결측값을 제거할 수 있다.
3. 결측값을 변경할 수 있다.

> 데이터를 활용하기 전에는 반드시 결측값이 있는지 확인해야 합니다.  
> 결측값이란 데이터가 누락되어 존재하지 않는 것으로 NaN, None, NA, null, N/A 등으로 표현됩니다.   
>
> 결측값이 있는 데이터는 통계량 확인이나 인공지능 학습에 바로 사용할 수 없습니다.  
> 결측값이 확인되면 제거하거나 값을 지정해주어야합니다.  
>
> 다음의 펭귄에 대한 데이터를 이용하여 결측값을 처리하는 방법을 배워봅시다.

In [28]:
# 예제 1: 제공되는 데이터 불러와서 출력해보기

import seaborn as sns
df = sns.load_dataset('penguins', cache=True, data_home=None)

## columns 설명
df.columns = ["종", "서식지", "부리_길이_mm", "부리_높이_mm", "날개_길이_mm", "무게_g", "성별"]

## 결측치 생성
df.iloc[5::100, 0] = None
df.iloc[15::90, 2] = None
df.iloc[45::80, 4] = None
df.iloc[45::100, 5] = None

print(df)

          종        서식지  부리_길이_mm  부리_높이_mm  날개_길이_mm    무게_g      성별
0    Adelie  Torgersen      39.1      18.7     181.0  3750.0    Male
1    Adelie  Torgersen      39.5      17.4     186.0  3800.0  Female
2    Adelie  Torgersen      40.3      18.0     195.0  3250.0  Female
3    Adelie  Torgersen       NaN       NaN       NaN     NaN     NaN
4    Adelie  Torgersen      36.7      19.3     193.0  3450.0  Female
..      ...        ...       ...       ...       ...     ...     ...
339  Gentoo     Biscoe       NaN       NaN       NaN     NaN     NaN
340  Gentoo     Biscoe      46.8      14.3     215.0  4850.0  Female
341  Gentoo     Biscoe      50.4      15.7     222.0  5750.0    Male
342  Gentoo     Biscoe      45.2      14.8     212.0  5200.0  Female
343  Gentoo     Biscoe      49.9      16.1     213.0  5400.0    Male

[344 rows x 7 columns]

## **1. 결측값 확인**

> `data.isna()`를 이용하면 값이 존재하지 않는 경우 True, 값이 있는 경우 False로 표현된 데이터가 반환됩니다.  
> 그러나 데이터가 큰 경우 이를 출력하여 결측치를 확인하는 것은 어렵습니다.  
> 한눈에 결측값 위치와 개수를 확인할 수 있는 방법을 알아봅시다.

### **(1) 결측값이 있는 행/열 확인하기**

> `any()`는 행 또는 열에 True가 하나라도 있으면 True, 하나도 없으면 False를 반환합니다.  
> 따라서 `data.isna().any()`는 행 또는 열에 결측값이 하나라도 있는지 알려줍니다.  
> 또한 이를 인덱싱에 활용하면 결측값이 하나라도 있는 행과 열을 확인할 수 있습니다. 
>
> `data.isna().any()`: 각 열에 결측값이 존재하면 True, 없으면 False를 반환  
> `data.isna().any(axis=1)`: 각 행에 결측값이 존재하면 True, 없으면 False를 반환  
>
> `data.loc[data.isna().any(axis=1), data.isna().any()]`  
>: 결측값이 하나라도 존재하는 행과 열을 반환

In [33]:
# 예제 2: 결측값이 있는 행과 열 확인하기

print("결측값이 있는 열 확인: ")
print(df.isna().any())

print("\n")
print("결측값이 있는 행 확인: ")
print(df.isna().any(axis=1))

print("\n")
print("결측값이 있는 행과 열 데이터 출력하기: ")
df.loc[df.isna().any(axis=1), df.isna().any()]

결측값이 있는 열 확인:
종            True
서식지         False
부리_길이_mm     True
부리_높이_mm     True
날개_길이_mm     True
무게_g         True
성별           True
dtype: bool


결측값이 있는 행 확인:
0      False
1      False
2      False
3       True
4      False
       ...
339     True
340    False
341    False
342    False
343    False
Length: 344, dtype: bool


결측값이 있는 행과 열 데이터 출력하기:

             종  부리_길이_mm  부리_높이_mm  날개_길이_mm    무게_g      성별
3       Adelie       NaN       NaN       NaN     NaN     NaN
5         None      39.3      20.6     190.0  3650.0    Male
8       Adelie      34.1      18.1     193.0  3475.0     NaN
9       Adelie      42.0      20.2     190.0  4250.0     NaN
10      Adelie      37.8      17.1     186.0  3300.0     NaN
11      Adelie      37.8      17.3     180.0  3700.0     NaN
15      Adelie       NaN      17.8     185.0  3700.0  Female
45      Adelie      39.6      18.8       NaN     NaN    Male
47      Adelie      37.5      18.9     179.0  2975.0     NaN
105       None       NaN      18.9     184.0  3550.0    Male
125     Adelie      40.6      19.0       NaN  4000.0    Male
145     Adelie      39.0      18.7     185.0     NaN    Male
195  Chinstrap       NaN      17.0     196.0  3500.0  Female
205       None      50.7      19.7       NaN  4050.0    Male
245     Gentoo      46.1      15.1     215.0     NaN    Male
246     Gentoo      44.5      14.3     216.0  4100.0     NaN
285     Gentoo       NaN      16.8       NaN  5700.0    Male
286     Gentoo      46.2      14.4     214.0  4650.0     NaN
305       None      50.8      17.3     228.0  5600.0    Male
324     Gentoo      47.3      13.8     216.0  4725.0     NaN
336     Gentoo      44.5      15.7     217.0  4875.0     NaN
339     Gentoo       NaN       NaN       NaN     NaN     NaN

> 서식지 열에는 결측값이 없다는 것을 확인할 수 있습니다.  
> 결측값이 있는 행은 여러 개 존재하며 결측값의 개수도 각각 다릅니다.

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="Vk5TA4lAoNw" href='#jce-judge/open/Vk5TA4lAoNw' target='_self'><span>판다스 - 결측값 처리 - 위치 확인하기</span></a>

### **(2) 결측값의 개수 확인하기**

> `sum()`은 각 행 또는 열에 True가 몇 개 있는지 더하여 줍니다.  
> 따라서 `data.isna().sum()`은 행 또는 열에 결측값이 몇 개씩 있는지 알려줍니다.  
>
> `data.isna().sum()`: 각 열에 존재하는 결측값 개수를 반환    
> `data.isna().sum(axis=1)`: 각 행에 존재하는 결측값 개수를 반환
>
> `data.loc[data.isna().any(axis=1)].isna().sum(axis=1)`  
>: 결측값이 하나라도 존재하는 행에 각 몇 개의 결측값이 존재하는지 반환

In [36]:
# 예제 3: 결측값의 개수 확인하기

print("각 열의 결측값 개수: ")
print(df.isna().sum())

print("\n")
print("각 행의 결측값 개수: ")
print(df.isna().sum(axis=1))

print("\n")
print("결측값이 있는 행의 결측값 개수: ")
df.loc[df.isna().any(axis=1)].isna().sum(axis=1)

각 열의 결측값 개수:
종            4
서식지          0
부리_길이_mm     6
부리_높이_mm     2
날개_길이_mm     6
무게_g         5
성별          11
dtype: int64


각 행의 결측값 개수:
0      0
1      0
2      0
3      5
4      0
      ..
339    5
340    0
341    0
342    0
343    0
Length: 344, dtype: int64


결측값이 있는 행의 결측값 개수:

3      5
5      1
8      1
9      1
10     1
11     1
15     1
45     2
47     1
105    2
125    1
145    1
195    1
205    2
245    1
246    1
285    2
286    1
305    1
324    1
336    1
339    5
dtype: int64

> 각 열에 적으면 2개에서 많으면 11개의 결측값이 있음을 확인할 수 있습니다.  
> 결측값이 있는 행은 1개 혹은 2개 많으면 5개의 결측값이 있음을 확인할 수 있습니다.

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="g6OnqbcKpBI" href='#jce-judge/open/g6OnqbcKpBI' target='_self'><span>판다스 - 결측값 처리 - 개수 확인하기</span></a>

## **2. 결측값 제거**

> 결측값이 있는 데이터는 정보가 누락되어 통계량을 구하거나 인공지능 학습에 사용될 수 없습니다.  
> 다른 값으로 대체하여 사용할 수도 있지만 결측 데이터가 너무 많은 경우에는 제거하는 편이 좋습니다.  
>
> 정보가 누락된 펭귄의 데이터 (행 데이터) 를 제거하여 봅시다.

### **(1) 결측값이 있는 열 기준으로 제거하기**

> `dropna()`를 이용하면 결측값이 존재하는 행이 모두 제거됩니다.  
> 이때 `subset` 인수에 열을 지정하면 해당 열에 결측값이 있는 경우에만 행을 제거합니다.  
>
> `Series.dropna()` : 결측값이 있는 행을 모두 제거  
> `DataFrame.dropna()` : 결측값이 있는 행을 모두 제거  
> `DataFrame.dropna(subset=["col1", "col2"])`  
> : col1, col2 열에 결측값이 있는 행을 모두 제거

> 결측값이 있는 열 중에 펭귄의 "종"과 "성별"은 신체 크기를 결정하는 중요한 데이터입니다.  
> "종"이나 "성별" 데이터가 없는 데이터는 사용하기 어렵기 때문에 제거하여 봅시다.

In [43]:
# 예제 4: 결측값이 있는 열 기준으로 행 제거하기

# 종과 성별 열에 결측값이 있는 데이터 제거하기
df_drop_1 = df.dropna(subset=["종", "성별"])

# 제거 후 결측값이 있는 열 확인하기
df_drop_1.isna().any()

종           False
서식지         False
부리_길이_mm     True
부리_높이_mm    False
날개_길이_mm     True
무게_g         True
성별          False
dtype: bool

> 더이상 "종", "성별" 열에 결측값이 존재하지 않음을 확인할 수 있습니다.

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="3byVGYRn9Iw" href='#jce-judge/open/3byVGYRn9Iw' target='_self'><span>판다스 - 결측값 처리 - 열 기준 제거</span></a>

### **(2) 결측값의 개수 기준으로 제거하기**

> `dropna()`를 이용하면 결측값이 존재하는 행이 모두 제거됩니다.  
> 이때 `thresh` 인수에 열을 지정하면 해당 열에 결측값이 있는 경우에만 행을 제거합니다.  
>
> `DataFrame.dropna(thresh=n)`  
> : 행에 존재하는 데이터가 n개 이상인 경우를 제외하고 제거

> 결측값이 너무 많은 펭귄 데이터는 사용할 수 없습니다.  
> 존재하는 값이 5개 이상인 데이터만 남기고 제거하여 봅시다.

In [44]:
# 예제 5: 결측값의 개수 기준으로 행 제거하기

# 존재하는 값이 5개 미만인 데이터 제거하기
df_drop_2 = df.dropna(thresh=5)

print("결측값이 있는 행의 결측값 개수: ")
df_drop_2.loc[df_drop_2.isna().any(axis=1)].isna().sum(axis=1)

결측값이 있는 행의 결측값 개수:

5      1
8      1
9      1
10     1
11     1
15     1
45     2
47     1
105    2
125    1
145    1
195    1
205    2
245    1
246    1
285    2
286    1
305    1
324    1
336    1
dtype: int64

> 총 7개의 열이 있으므로 결측치가 있더라도 5 ~ 6개의 데이터가 존재하는 데이터만 남아있음을 확인할 수 있습니다.

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="afipiWToT9s" href='#jce-judge/open/afipiWToT9s' target='_self'><span>판다스 - 결측값 처리 - 개수 기준 제거</span></a>

> `dropna`의 경우에도 `inplace=True` 로 인수를 지정해주어야 원본의 데이터도 바꾸어 줍니다.  
> 위의 과정을 다시 반복하여 원본 데이터를 변경하여 봅시다.

In [46]:
# 예제 6: 원본 데이터 변경

# 종과 성별 열에 결측값이 있는 데이터 제거하기
df.dropna(subset=["종", "성별"], inplace=True)

# 존재하는 값이 5개 미만인 데이터 제거하기
df.dropna(thresh=5, inplace=True)

print("결측값이 있는 행 데이터 출력하기: ")
df.loc[df.isna().any(axis=1)]

결측값이 있는 행 데이터 출력하기:

             종        서식지  부리_길이_mm  부리_높이_mm  날개_길이_mm    무게_g      성별
15      Adelie  Torgersen       NaN      17.8     185.0  3700.0  Female
45      Adelie      Dream      39.6      18.8       NaN     NaN    Male
125     Adelie  Torgersen      40.6      19.0       NaN  4000.0    Male
145     Adelie      Dream      39.0      18.7     185.0     NaN    Male
195  Chinstrap      Dream       NaN      17.0     196.0  3500.0  Female
245     Gentoo     Biscoe      46.1      15.1     215.0     NaN    Male
285     Gentoo     Biscoe       NaN      16.8       NaN  5700.0    Male

## **3. 결측값 변경**

> 결측값이 있는 데이터는 정보가 누락되어 통계량을 구하거나 인공지능 학습에 사용될 수 없습니다.  
> 결측값이 있는 데이터를 제거하는게 간단한 방법이지만 너무 많은 데이터를 삭제하게 되면 문제가 생깁니다.   
> 그런때에는 결측값 자리에 새로운 데이터 값을 대체하여 사용할 수 있습니다.  
>
> 정보가 누락된 펭귄의 데이터를 변경하여 봅시다.

### **(1) 모두 같은 값으로 대체하기**

> `fillna()`를 이용하면 결측 자리에 새로운 값이 채워집니다.  
>
> `data.fillna(value)` : 모든 결측값을 value로 대체

> 펭귄의 "부리 길이", "날개 길이", "무게"에 결측값이 있습니다.  
> 측정한 수치가 없으므로 모두 0으로 대체하여 봅시다.

In [48]:
# 예제 7: 결측값 모두 같은 새로운 값으로 대체하기

# 결측값을 모두 0으로 변경하기
df_fill_1 = df.fillna(0)

print("결측값이 있었던 행 데이터 출력하기: ")
df_fill_1.loc[df.isna().any(axis=1)]

결측값이 있었던 행 데이터 출력하기:

             종        서식지  부리_길이_mm  부리_높이_mm  날개_길이_mm    무게_g      성별
15      Adelie  Torgersen       0.0      17.8     185.0  3700.0  Female
45      Adelie      Dream      39.6      18.8       0.0     0.0    Male
125     Adelie  Torgersen      40.6      19.0       0.0  4000.0    Male
145     Adelie      Dream      39.0      18.7     185.0     0.0    Male
195  Chinstrap      Dream       0.0      17.0     196.0  3500.0  Female
245     Gentoo     Biscoe      46.1      15.1     215.0     0.0    Male
285     Gentoo     Biscoe       0.0      16.8       0.0  5700.0    Male

> 결측값이 있던 자리에 모두 0이라는 새로운 데이터 값이 채워진 것을 확인할 수 있습니다.

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="1a5lam-7dW8" href='#jce-judge/open/1a5lam-7dW8' target='_self'><span>판다스 - 결측값 처리 - 일괄 변경</span></a>

> 결측값이 0으로 대체된 데이터는 사용하기에 적절할까요?  
> 그렇지 않습니다.  
> 부리의 길이나 날개의 길이 그리고 무게가 0인 펭귄은 존재하지 않습니다.  
>
> 데이터의 값을 대체할 때에는 전체 데이터의 통계량을 바꾸지 않도록 하는 것이 필요합니다.  
> 각 열은 서로 다른 의미를 가지는 데이터이므로 각 열의 통계량에 맞추어 열마다 다른 값으로 대체하는 것이 좋습니다.  
> 전체 데이터의 통계량을 크게 바꾸지 않는 대표적인 방법은 다음과 같습니다.  
>
> * 수치형의 경우 평균값으로 대체한다.
> * 문자형의 경우 최빈값으로 대체한다.

### **(2) 열 마다 다른 값으로 대체하기**

> `fillna()`를 이용하면 결측 자리에 새로운 값이 채워집니다.  
> 이때, 열의 이름이 key이고 대체값이 value인 dictionary를 이용하면 각 열마다 다른 대체값을 이용할 수 있습니다.  
>
> `data.fillna({col1: value1, col2: value2})`  
> : col1의 결측값은 value1으로 col2의 결측값은 value2로 대체

> 각 열의 평균값을 대체값으로 하여 결측값을 채워봅시다.

In [50]:
# 예제 7: 각 열마다 다른 값으로 결측값 대체하기

# 각 열의 이름을 key 각 열의 평균값을 value로 하는 dictionary 만들기
dictionary = {"부리_길이_mm": df["부리_길이_mm"].mean(), 
              "날개_길이_mm": df["날개_길이_mm"].mean(), 
              "무게_g": df["무게_g"].mean()}

# 각 열마다 다른 값으로 결측값 대체하기
df_fill_2 = df.fillna(dictionary)
 
print("결측값이 있었던 행 데이터 출력하기: ")
df_fill_2.loc[df.isna().any(axis=1)]

결측값이 있었던 행 데이터 출력하기:

             종        서식지   부리_길이_mm  부리_높이_mm   날개_길이_mm         무게_g      성별
15      Adelie  Torgersen  43.979141      17.8  185.00000  3700.000000  Female
45      Adelie      Dream  39.600000      18.8  200.91411  4204.754601    Male
125     Adelie  Torgersen  40.600000      19.0  200.91411  4000.000000    Male
145     Adelie      Dream  39.000000      18.7  185.00000  4204.754601    Male
195  Chinstrap      Dream  43.979141      17.0  196.00000  3500.000000  Female
245     Gentoo     Biscoe  46.100000      15.1  215.00000  4204.754601    Male
285     Gentoo     Biscoe  43.979141      16.8  200.91411  5700.000000    Male

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="19-h_lB1w-I" href='#jce-judge/open/19-h_lB1w-I' target='_self'><span>판다스 - 결측값 처리 - 열에 따라 변경(1)</span></a>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="BXTt2Rjlq5w" href='#jce-judge/open/BXTt2Rjlq5w' target='_self'><span>판다스 - 결측값 처리 - 열에 따라 변경(2)</span></a>