#### [시작하기]

<div class="alert alert-info">
    <font color=black>
    Pandas를 사용하기 위해서 처음 할 일을 무엇인가요?
    </font>
</div>

In [1]:
import pandas as pd # 판다스를 pd로 축약하여 불러옵니다

# **[11] 데이터 파악하기 - 연산편**

[오늘 배울 것]
1. 데이터의 개수와 총합을 구할 수 있다.
2. 데이터의 크기 순서를 구할 수 있다.
3. 데이터의 간략화 연산을 할 수 있다.

> 주어진 데이터를 이해하기 위해서는 연산을 통해 여러가지 정보를 파악해야 합니다.  
> 대표적으로 많이 사용되는 연산들을 배워봅시다. 
>
> 우선 오늘 사용할 DataFrame을 만들어봅시다.

In [2]:
# 예제 1: Pandas DataFrame 만들기

data = pd.DataFrame(index=list(range(1, 11)), 
                            data={'비용':[99.72, 10.44, 4.15, 80.92, 56.28, 28.01, 45.34, 28.32, 45.50, 84.12],
                                  '시간': [102, 34, 21, 84, 23, None, 94, 45, 12, 56], 
                                  '변위':[-234, None, 56, -34, None, 92, 76, -42, 12, -123]})
data

       비용     시간     변위
1   99.72  102.0 -234.0
2   10.44   34.0    NaN
3    4.15   21.0   56.0
4   80.92   84.0  -34.0
5   56.28   23.0    NaN
6   28.01    NaN   92.0
7   45.34   94.0   76.0
8   28.32   45.0  -42.0
9   45.50   12.0   12.0
10  84.12   56.0 -123.0

## **1. 데이터의 개수와 총합**

### **(1) 데이터의 개수 파악하기**

> `count`는 행 혹은 열의 방향으로 `Nan`이 아닌 데이터 값의 개수를 알려줍니다.  
>
> `Series.count()` : 데이터 개수 반환  
> `DataFrame.count()` : 각 열의 데이터 개수 반환   
> `DataFrame.count(axis=1)` : 각 행의 데이터 개수 반환   
 

> **[주의]** 이전에 배운 `len`와 `shape`는 데이터의 공간 크기를 반환하며 이들은 데이터의 값과는 상관이 없습니다.

In [3]:
# 예제 1: count 로 데이터 개수 파악하기

# Series.count()
print("비용 열의 데이터 개수:", data.비용.count())
print("시간 열의 데이터 개수:", data.시간.count())
print("변위 열의 데이터 개수:", data.변위.count())

# DataFrame.count()
print("\n각 열의 데이터 개수(1): ")
print(data.count())
print("\n각 열의 데이터 개수(2): ")
print(data.count(axis=0))

# DataFrame.count(axis=1)
print("\n각 행의 데이터 개수: ")
print(data.count(axis=1))

비용 열의 데이터 개수: 10
시간 열의 데이터 개수: 9
변위 열의 데이터 개수: 8

각 열의 데이터 개수(1):
비용    10
시간     9
변위     8
dtype: int64

각 열의 데이터 개수(2):
비용    10
시간     9
변위     8
dtype: int64

각 행의 데이터 개수:
1     3
2     2
3     3
4     3
5     2
6     2
7     3
8     3
9     3
10    3
dtype: int64

#### <연습문제>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="382GQJkEmuY" href='#jce-judge/open/382GQJkEmuY' target='_self'><span>판다스 - 데이터 연산하기 - count</span></a>

### **(2) 데이터의 합 파악하기**

> `sum`은 행 혹은 열의 방향으로 `Nan`이 아닌 데이터의 합을 알려줍니다.
>
>`Series.sum()` : 데이터 합 반환  
>`DataFrame.sum()` : 각 열의 데이터 합 반환  
>`DataFrame.sum(axis=1)` : 각 행의 데이터 합 반환  
>

> DataFrame의 2차원 데이터를 모두 더하고 싶을때는 두번 사용하면 됩니다. 
>
> `DataFrame.sum().sum()` : 전체 데이터 합 반환

In [4]:
# 예제 2 : sum 으로 데이터 합 파악하기

# Series.sum()
print("비용 열의 데이터 합:", data.비용.sum())
print("시간 열의 데이터 합:", data.시간.sum())
print("변위 열의 데이터 합:", data.변위.sum())

# DataFrame.sum()
print("\n각 열의 데이터 합: ")
print(data.sum())

# DataFrame.sum(axis=1)
print("\n각 행의 데이터 합: ")
print(data.sum(axis=1))

# DataFrame.sum().sum()
print("\n전체 데이터 합: ")
print(data.sum().sum())

비용 열의 데이터 합: 482.8
시간 열의 데이터 합: 471.0
변위 열의 데이터 합: -197.0

각 열의 데이터 합:
비용    482.8
시간    471.0
변위   -197.0
dtype: float64

각 행의 데이터 합:
1     -32.28
2      44.44
3      81.15
4     130.92
5      79.28
6     120.01
7     215.34
8      31.32
9      69.50
10     17.12
dtype: float64

전체 데이터 합:
756.8

#### <연습문제>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="0JU_Sr_2GP0" href='#jce-judge/open/0JU_Sr_2GP0' target='_self'><span>판다스 - 데이터 연산하기 - sum (1)</span></a>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="nOauwzr8TZU" href='#jce-judge/open/nOauwzr8TZU' target='_self'><span>판다스 - 데이터 연산하기 - sum (2)</span></a>

## **2. 데이터의 값의 크기**

DataFrame.rank()### **(1) 데이터의 크기 순서 파악하기**

> `rank`는 행 혹은 열의 방향으로 데이터의 크기 순서를 담은 데이터를 반환합니다.  
> n개의 데이터가 있다면 데이터의 값 대신 1부터 n이 반환됩니다.  
> 
> 기본적으로 가장 작은 값이 1이 됩니다.  
>`rank(ascending=False)` 이면 가장 큰 값이 1이 됩니다.  
> 동률이면 순위의 평균이 반환됩니다.
>
> 숫자 뿐 아니라 문자 데이터도 알파벳 순으로 크기 순서가 결정됩니다.
>
> `Series.rank()` : 데이터 크기 순서를 Series로 반환  
> `DataFrame.rank()` : 각 열마다 데이터 크기 순서를 DataFrame으로 반환  
> `DataFrame.rank(axis=1)` : 각 행마다 데이터 크기 순서를 DataFrame으로 반환

In [5]:
# 예제 3 : rank로 데이터 크기 순서 파악하기 

# Series.rank()
# concat 함수를 이용해서 원래의 데이터와 rank 결과를 함께 나타내기
print("비용 열의 데이터 크기 순서:\n", pd.concat([data.비용, data.비용.rank()], axis=1))

# DataFrame.rank(ascending=False)
# concat 함수를 이용해서 원래의 데이터와 rank 결과를 함께 나타내기
print("\n각 열의 데이터 크기 순서:\n", pd.concat([data, data.rank(ascending=False)], axis=1))

비용 열의 데이터 크기 순서:
        비용    비용
1   99.72  10.0
2   10.44   2.0
3    4.15   1.0
4   80.92   8.0
5   56.28   7.0
6   28.01   3.0
7   45.34   5.0
8   28.32   4.0
9   45.50   6.0
10  84.12   9.0

각 열의 데이터 크기 순서:
        비용     시간     변위    비용   시간   변위
1   99.72  102.0 -234.0   1.0  1.0  8.0
2   10.44   34.0    NaN   9.0  6.0  NaN
3    4.15   21.0   56.0  10.0  8.0  3.0
4   80.92   84.0  -34.0   3.0  3.0  5.0
5   56.28   23.0    NaN   4.0  7.0  NaN
6   28.01    NaN   92.0   8.0  NaN  1.0
7   45.34   94.0   76.0   6.0  2.0  2.0
8   28.32   45.0  -42.0   7.0  5.0  6.0
9   45.50   12.0   12.0   5.0  9.0  4.0
10  84.12   56.0 -123.0   2.0  4.0  7.0

#### <연습문제>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="QCIVQ-01EuM" href='#jce-judge/open/QCIVQ-01EuM' target='_self'><span>판다스 - 데이터 연산하기 - rank</span></a>

### **(2) 가장 크거나 작은 값이 있는 행/열 반환하기**

> 가장 큰 값이나 가장 작은 값을 가지는 데이터는 중요합니다.  
> 이들만 특정하여 확인할 수 있도록 인덱싱하는 방법이 있습니다.  
>
> `Series.idxmax()` : 가장 값이 큰 행의 인덱스를 반환  
> `Series[Series.idxmax()]` : 가장 값이 큰 행을 반환
>
> `DataFrame["key"].idxmax()` : key 열에서 가장 값이 큰 행의 인덱스를 반환  
> `DataFrame.loc[DataFrame["key"].idxmax()]` : key 열에서 가장 값이 큰 행을 반환  

> `idxmin` : 가장 작은 값에 대하여 반환

In [6]:
# 예제 4: idxmax 이용해 가장 큰 값이 있는 행 인덱싱

print("비용이 가장 높은 행의 인덱스: ", data.비용.idxmax())
print("비용이 가장 높은 행: \n", data.loc[data.비용.idxmax()])

비용이 가장 높은 행의 인덱스:  1
비용이 가장 높은 행:
 비용     99.72
시간    102.00
변위   -234.00
Name: 1, dtype: float64

In [7]:
# 예제 5: idxmin 이용해 가장 작은 값이 있는 열 인덱싱

print("시간이 가장 적게 걸리는 행의 인덱스: ", data.시간.idxmin())
print("시간이 가장 적게 걸리는 행: \n", data.loc[data.시간.idxmin()])

시간이 가장 적게 걸리는 행의 인덱스:  9
시간이 가장 적게 걸리는 행:
 비용    45.5
시간    12.0
변위    12.0
Name: 9, dtype: float64

#### <연습문제>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="_8jUyWKYLHU" href='#jce-judge/open/_8jUyWKYLHU' target='_self'><span>판다스 - 데이터 연산하기 - idxmax</span></a>
<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="UyGtM9-My2Q" href='#jce-judge/open/UyGtM9-My2Q' target='_self'><span>판다스 - 데이터 연산하기 - idxmin</span></a>

## **3. 데이터 값 간략화**

### **(1) 실수 데이터 반올림하기**

> 데이터의 값이 복잡할때 값을 어림하여 간단히 나타낼 수 있습니다.  
> `round`는 실수 데이터를 반올림한 결과를 반환합니다.  
> 기본적으로 소수점 뒤 첫째자리에서 반올림하며, 
> 반올림할 위치를 정할 수도 있습니다.
>
> `Series.round()`, `DataFrame.round()`: 소수점 뒤 첫째자리에서 반올림한 결과를 반환  
> `round(n)`: 소수점 뒤 n+1번째 자리에서 반올림한 결과를 반환  
> `round(-n)`: 소수점 앞 n번째 자리에서 반올림한 결과를 반환

In [8]:
# 예제 6 : round로 반올림하여 데이터 값 어림하기

# 소수점 뒤 첫째자리에서 반올림하여 정수를 반환
print('소수점 뒤 첫째자리에서 반올림:')
print(data.비용.round())

# 소수점 뒤 둘째자리에서 반올림하여 첫째자리까지 반환
print('\n소수점 뒤 둘째자리에서 반올림:')
print(data.비용.round(1))

# 소수점 앞 첫째자리에서 반올림하여 반환
print('\n소수점 앞 첫째자리에서 반올림:')
print(data.비용.round(-1))

소수점 뒤 첫째자리에서 반올림:
1     100.0
2      10.0
3       4.0
4      81.0
5      56.0
6      28.0
7      45.0
8      28.0
9      46.0
10     84.0
Name: 비용, dtype: float64

소수점 뒤 둘째자리에서 반올림:
1     99.7
2     10.4
3      4.2
4     80.9
5     56.3
6     28.0
7     45.3
8     28.3
9     45.5
10    84.1
Name: 비용, dtype: float64

소수점 앞 첫째자리에서 반올림:
1     100.0
2      10.0
3       0.0
4      80.0
5      60.0
6      30.0
7      50.0
8      30.0
9      50.0
10     80.0
Name: 비용, dtype: float64

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="6UgfuWGCLOc" href='#jce-judge/open/6UgfuWGCLOc' target='_self'><span>판다스 - 데이터 연산하기 - round</span></a>

### **(2) 숫자 데이터 절댓값 구하기**

> 음수로 된 데이터의 부호가 중요하지 않을때는 양수로 변환하여 간단히 나타내기도 합니다.    
> `abs`는 숫자 데이터의 절댓값을 반환합니다. 
>
> `Series.abs()`, `DataFrame.abs()`: 절댓값을 반환

In [9]:
# 예제 7 : abs로 절댓값 구하기

# Series.abs()
# concat 함수를 이용해서 원래의 데이터와 abs 결과를 함께 나타내기
print("변위 열의 데이터와 절댓값:\n", pd.concat([data.변위, data.변위.abs()], axis=1))

# DataFrame.abs()
print("\n절댓값으로 변환된 데이터:")
print(data.abs())

변위 열의 데이터와 절댓값:
        변위     변위
1  -234.0  234.0
2     NaN    NaN
3    56.0   56.0
4   -34.0   34.0
5     NaN    NaN
6    92.0   92.0
7    76.0   76.0
8   -42.0   42.0
9    12.0   12.0
10 -123.0  123.0

절댓값으로 변환된 데이터:
       비용     시간     변위
1   99.72  102.0  234.0
2   10.44   34.0    NaN
3    4.15   21.0   56.0
4   80.92   84.0   34.0
5   56.28   23.0    NaN
6   28.01    NaN   92.0
7   45.34   94.0   76.0
8   28.32   45.0   42.0
9   45.50   12.0   12.0
10  84.12   56.0  123.0

#### <연습문제>

<a class="jcecodle-mk jcecodle-mk__problem-chip" data-problem-id="igEUbY7Tfwc" href='#jce-judge/open/igEUbY7Tfwc' target='_self'><span>판다스 - 데이터 연산하기 - abs</span></a>