# **[2] 데이터 파일 이용하기**

<div class="alert alert-info">
    <font color=black size = 4>
    오늘은 무엇을 배울까요?<br>
    </font>
</div>

1. 저장된 데이터 파일을 불러와 Pandas 데이터로 활용할 수 있다. 
2. Pandas 데이터를 파일로 저장할 수 있다.

#### [수업을 시작하기 전에]

<div>
    <font color=black size = 3>
        <code>import pandas</code>를 통해 패키지를 불러와야 합니다.<br>일반적으로 Pandas는 pd로 축약하여 활용하기 때문에 <code>import pandas as pd</code>를 통해 불러옵니다.
    </font>
</div>
<div>
    <font style="background-color:#ff1151;" color=yellow size = 4>
        아래의 코드를 실행시켜 주세요!
    </font>
</div>

In [1]:
import pandas as pd # 판다스를 pd로 축약하여 불러옵니다

---

## **1. Pandas와 데이터 파일**

### **(1) 데이터 파일 불러와 Pandas 데이터로 활용하기**

> `read_csv()`는 csv 포멧의 파일을 불러와 Pandas 데이터로 저장합니다.  
> 
> csv 는 comma-separated values로 데이터가 콤마(,)로 구분되어 저장된 파일입니다.  
>
> `data = pd.read_csv("불러올_파일_이름.csv")`  
> : *불러올_파일_이름.csv* 에 저장된 데이터를 불러와 data라는 이름의 Pandas 데이터로 저장합니다.

In [2]:
# 예제 1: 데이터 불러오기

data = pd.read_csv("price_list.csv")
data

      0     1     2     3     4     5
0   4.1   950  1100  1250  1100  1400
1   4.0  1150  1300  1800  1900  2150
2   4.4   900  1250  1550  1650  1650
3   4.1  1250  1500  1800  2100  1800
4   3.8  1100  1550  1650  1800  1700
5   4.0  1250  1100  1250  1650  1800
6   4.1  1100  1450  1800  1850  1950
7   3.5  1250  1550  1650  1900  2100
8   3.8  1150  1500  1800  1900  1800
9   3.9  1350  1500  1550  1650  1750
10  4.1  1400  1350  1250  1550  1750
11  4.0   900  1400  1500  1400  1350

### **(2) Pandas 데이터 파일로 저장하기**

> `to_csv()`는 Pandas 데이터를 csv 포멧의 파일로 저장합니다.  
>
> `data.to_csv("저장할_파일_이름.csv")`  
> : data라는 이름의 Pandas 데이터를 *저장할_파일_이름.csv* 파일로 저장합니다.  
>
> `index=False` 인수를 지정하면 행 인덱스가 저장되지 않습니다.

In [3]:
# 예제 2: 데이터 저장하기

data.to_csv("price_list_new.csv", index=False)

> 처음 불러 온 데이터 *price_list.csv* 파일과 저장한 데이터 *price_list_new.csv* 파일의 내용이 같은지 확인해봅시다.